
/*
shadows
begone
*/

.theme-light, .theme-dark {
    --background-modifier-box-shadow: none;
    --input-shadow: none;
    --input-shadow-hover: none;
    --shadow-s: none;
    --shadow-l: none;
}

textarea:focus, input[type='text']:focus, input[type='search']:focus, input[type='email']:focus, input[type='password']:focus, input[type='number']:focus, textarea:focus-visible, input[type='text']:focus-visible, input[type='search']:focus-visible, input[type='email']:focus-visible, input[type='password']:focus-visible, input[type='number']:focus-visible {
    box-shadow: none;
}

/*
color-accent - affects hovers too
*/
.theme-light, .theme-dark {
/* --color-accent-rgb: 0, 189, 110; */ /* legacy */ /* takes --color-accent-1 */
--color-accent: var(--color-accent-10);
--color-accent-1: var(--color-accent-00);
--color-accent-2: var(--color-accent-20);

--accent-h: 163;
--accent-s: 90%;
--accent-l: 28%;

--color-accent-00: hsl(155, 100%, 37%);
--color-accent-05: hsl(158, 96%, 33%);
--color-accent-10: /* hsl(163, 90%, 28%); */ hsl(var(--accent-h), var(--accent-s), var(--accent-l));
--color-accent-15: hsl(170, 83%, 24%);
--color-accent-20: hsl(184, 74%, 20%);

--color-red-2: hsl(0, 100%, 40%);
--color-white-soft: hsl(230, 43%, 99.5%); /* softer eye-friendlier white */

--text-error-hover: var(--color-red-2);

--interactive-normal: var(--color-base-20);
--interactive-hover: var(--color-base-30);
--interactive-focus: var(--color-base-40);

--background-secondary-alt: var(--color-base-30);
--background-modifier-message: rgba(0, 0, 0, 0.8);

}

.theme-light {
    --background-primary: var(--color-white-soft); /* softer white */
}

/* other variables */

.theme-light, .theme-dark {
    --padding-icon-clickable-TD: var(--size-2-2);
    --padding-icon-clickable-LR: var(--size-2-2); /* standard is --size-2-3 */

    --object-border-width: 0;
    --object-border-color: var(--modal-border-color);
    --object-border: var(--object-border-width) solid var(--object-border-color); /* do I even use it */

    --modal-radius: var(--radius-m); /* app.css is radius-l, me no likey */

    /* WILLEMSTAD STUFF */

    /* --padding-icon-clickable-LR: var(--padding-icon-clickable-TD);*/ /* I love squares, can you tell? */ /* don't need for ribbon etc as the --header-padding-side-tabs-inner serves as the unity variable */
}

.clickable-icon {
    padding: var(--padding-icon-clickable-TD) var(--padding-icon-clickable-LR); /* same, just needed it as a variable */
}

/*
font-stuff
*/

body {

    text-rendering: optimizeLegibility;

    --font-interface-theme: var(--font-ui); /* my changes to stick */
    --font-interface: var(--font-interface-override), var(--font-interface-theme), var(--default-font); /* replace this with font-interface in 0.14.5 */
    
    --font-text-theme: var(--font-editor); /* my changes to stick */
    --font-text: var(--font-text-override), var(--font-text-theme), var(--font-interface), var(--default-font);  /* change in 0.14.5 */

    /* --font-monospace-theme: see below */
    --font-monospace: var(--font-monospace-override), var(--font-monospace-theme), "DM Mono";

    
    &:not(.is-mobile) {
        --default-font: var(--font-editor);
        --menu-font: var(--font-menu);
        --ui-font: var(--font-ui);
    }
    
   &.is-mobile {           
        --default-font: var(--font-editor-m);
        --menu-font: var(--font-menu-m);
        --ui-font: var(--font-ui-m);
    }

}

.theme-light, .theme-dark {
        /* ────────────────────────────────────────────────────────────────────────
        >>> FONT TYPEFACE > Obsidian Core > Set + Enable changes
        ──────────────────────────────────────────────────────────────────────── */

            /* to edit --default-font, edit the mobile/desktop equivalents (--font-editor-m) and (--font-editor) */

            --font-monospace-theme: "DM Mono";
            --font-heading:         "Manrope", "Inter 3.19", "DM Sans";

            /* to edit --menu-font, edit the mobile/desktop equivalents (--font-menu-m) and (--font-menu) */
            /* to edit --ui-font, edit the mobile/desktop equivalents (--font-ui-m) and (--font-ui) */

            --smallcap-font:        "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";   /* what is this for again? */
            --setting-heading:      "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";   /* what is this for again? */
            --font-mermaid:         "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";   /* for Mermaid.js */
            --font-reveal:          "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";   /* for Slides core plugin - not in use atm */
    
        /* ──────────────────────────────────────────────────────────────────────
        >>> FONT TYPEFACE > Desktop
        ────────────────────────────────────────────────────────────────────── */

            --font-editor:          "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";
            --font-menu:            "Manrope", "Inter 3.19", "DM Sans";
            --font-ui:              "Manrope", "Inter 3.19", "DM Sans";

        /* ──────────────────────────────────────────────────────────────────────
        >>> FONT TYPEFACE > Mobile
        ────────────────────────────────────────────────────────────────────── */

            --font-editor-m:        "Inter 3.19", "DM Sans", "Inter 3.19", "Manrope";
            --font-menu-m:          "Manrope", "Inter 3.19", "DM Sans";
            --font-ui-m:            "Manrope", "Inter 3.19", "DM Sans";

        /* ──────────────────────────────────────────────────────────────────────
        >>> HEADINGS > Size | a la Shimmering Focus | thanks @pseudometa
        ────────────────────────────────────────────────────────────────────── */

            --h1-size: 1.8em;
            --h2-size: 1.6em;
            --h3-size: 1.45em;
            --h4-size: 1.3em;
            --h5-size: 1.15em;
            --h6-size: 1.05em;
            
}

/*
headings get font-heading
*/


:is(h1, h2, h3, h4, h5, h6),
.markdown-rendered :is(h1, h2, h3, h4, h5, h6),
.HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6,
.HyperMD-list-line :is(.cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6) {
    font-family: var(--font-heading);
}
