/* ────────────────────────────────────────────────────────────────────────────────
> BT
\ Root
\ Typography
──────────────────────────────────────────────────────────────────────────────── */

       body {
        
            --font-interface-theme: var(--font-ui); /* my changes to stick */
            --font-interface: var(--font-interface-override), var(--font-interface-theme), var(--default-font); /* replace this with font-interface in 0.14.5 */
            
            --font-text-theme: var(--font-text); /* my changes to stick */
            --font-text: var(--font-text-override), var(--font-text-theme), var(--font-interface), var(--default-font);  /* change in 0.14.5 */
        
            /* --font-monospace-theme: see below */
            --font-monospace: var(--font-monospace-override), var(--font-monospace-theme), "DM Mono";

            
            &:not(.is-mobile) {
                --default-font: var(--font-editor);
                --menu-font: var(--font-menu);
                --ui-font: var(--font-ui);
            }
            
           &.is-mobile {           
                --default-font: var(--font-editor-m);
                --menu-font: var(--font-menu-m);
                --ui-font: var(--font-ui-m);
            }

        }

        /* ────────────────────────────────────────────────────────────────────────
        >>> FONT SIZES
        ──────────────────────────────────────────────────────────────────────── */

        :is(.theme-light, .theme-dark) {

             --size-font-searchbox:      0.9em;
             --size-font-editor-table:   0.8em;
             --size-font-preview-table-th:  1em;
             --size-font-preview-table-td:  1em;
         /* move these away */

        /* ────────────────────────────────────────────────────────────────────────
        >>> FONT TYPEFACE > Obsidian Core > Set + Enable changes
        ──────────────────────────────────────────────────────────────────────── */

            /* to edit --default-font, edit the mobile/desktop equivalents (--font-editor-m) and (--font-editor) */

            --font-monospace-theme: "DM Mono";
            --font-heading:         "Manrope", "Inter 3.19", "DM Sans";

            /* to edit --menu-font, edit the mobile/desktop equivalents (--font-menu-m) and (--font-menu) */
            /* to edit --ui-font, edit the mobile/desktop equivalents (--font-ui-m) and (--font-ui) */

            --smallcap-font:        "DM Sans", "Inter 3.19", "Manrope";   /* what is this for again? */
            --setting-heading:      "DM Sans", "Inter 3.19", "Manrope";   /* what is this for again? */
            --font-mermaid:         "DM Sans", "Inter 3.19", "Manrope";   /* for Mermaid.js */
            --font-reveal:          "DM Sans", "Inter 3.19", "Manrope";   /* for Slides core plugin - not in use atm */
    
        /* ──────────────────────────────────────────────────────────────────────
        >>> FONT TYPEFACE > Desktop
        ────────────────────────────────────────────────────────────────────── */

            --font-editor:          "DM Sans", "Inter 3.19", "Manrope";
            --font-menu:            "Manrope", "Inter 3.19", "DM Sans";
            --font-ui:              "Manrope", "Inter 3.19", "DM Sans";

        /* ──────────────────────────────────────────────────────────────────────
        >>> FONT TYPEFACE > Mobile
        ────────────────────────────────────────────────────────────────────── */

            --font-editor-m:        "DM Sans", "Inter 3.19", "Manrope";
            --font-menu-m:          "Manrope", "Inter 3.19", "DM Sans";
            --font-ui-m:            "Manrope", "Inter 3.19", "DM Sans";

        /* ──────────────────────────────────────────────────────────────────────
        >>> FONT > Additional + Plugins
        ────────────────────────────────────────────────────────────────────── */

            --font-longform:        "Crimson Pro";

        /* ──────────────────────────────────────────────────────────────────────
        >>> HEADINGS > Size | a la Shimmering Focus | thanks @pseudometa
        ────────────────────────────────────────────────────────────────────── */

            --h1: 1.8em;
            --h2: 1.6em;
            --h3: 1.45em;
            --h4: 1.3em;
            --h5: 1.15em;
            --h6: 1.05em;

            /* old SF headers - changed due to changes in Obsidian v0.13.30
            --h1-size: 1.8em;
            --h2-size: 1.6em;
            --h3-size: 1.45em;
            --h4-size: 1.3em;
            --h5-size: 1.15em;
            --h6-size: 1.05em;
            */
        
        }


    /* ────────────────────────────────────────────────────────────────────────────
    >> FONT PAIRINGS | QUICK FONTS
    \\ need to add :not(.is-mobile) somehow later down th eline
    ───────────────────────────────────────────────────────────────────────────────
        >>> INTER 3.19
        ──────────────────────────────────────────────────────────────────────── */
        .fp-inter:is(.theme-light, .theme-dark) {
            --font-monospace-theme: "DM Mono";

            --font-heading: "Inter 3.19";
            --font-editor:  "Inter 3.19";
            --font-menu:    "Inter 3.19";
            --font-ui:      "Inter 3.19";
        }

        /* ────────────────────────────────────────────────────────────────────────
        >>> MANROPE + DM SANS
        ──────────────────────────────────────────────────────────────────────── */
        .fp-manDM:is(.theme-light, .theme-dark) {
            --font-monospace-theme: "DM Mono";
            
            --font-heading: "Manrope";
            --font-editor:  "DM Sans";
            --font-menu:    "Manrope";
            --font-ui:      "Manrope";
        }

    /* ────────────────────────────────────────────────────────────────────────────
    >> FONTS | HEADERS
    ───────────────────────────────────────────────────────────────────────────────
        >>> 
        ──────────────────────────────────────────────────────────────────────── */
        :is(h1, h2, h3, h4, h5, h6) {
            font-family: var(--font-heading);
        }


    /* ────────────────────────────────────────────────────────────────────────────
    >> FONTS | MONOSPACE
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ LETTER SPACING + FONT SIZE
        \\\ (need to Style Settings this?)
        ──────────────────────────────────────────────────────────────────────── */
            .cm-s-obsidian .hmd-fold-html-stub, .cm-s-obsidian .hmd-fold-code-stub,
            .cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
            .cm-s-obsidian .cm-formatting-hashtag, .cm-s-obsidian .cm-inline-code,
            .cm-s-obsidian .HyperMD-codeblock, .cm-s-obsidian .HyperMD-hr,
            .cm-s-obsidian .cm-hmd-frontmatter, .cm-s-obsidian .cm-hmd-orgmode-markup,
            .cm-s-obsidian .cm-formatting-code, .cm-s-obsidian .cm-math,
            .cm-s-obsidian span.hmd-fold-math-placeholder,
            .cm-s-obsidian .CodeMirror-linewidget kbd,
            .cm-s-obsidian .hmd-fold-html kbd,
            .cm-s-obsidian span.cm-hmd-callout {
                letter-spacing: -0.015rem;
                font-size: 0.9em;
            }
            .setting-hotkey {
                font-family: var(--font-monospace);
                font-size: 0.8em;
                border-radius: calc(var(--shape-roundish) * 1.25);
                padding: 0 0.6rem 0 0.6rem;
            }
        /* ────────────────────────────────────────────────────────────────────────
        >>> Δ MONOSPACE COLOURS | code from Shimmering Focus, thanks @pseudometa
        ──────────────────────────────────────────────────────────────────────── */

            body > .app-container .cm-s-obsidian .cm-def.cm-hmd-frontmatter {
                letter-spacing: -0.04rem;
                color: var(--accent-light);
            }
    /* ────────────────────────────────────────────────────────────────────────────
    >> FONTS | UI
    ───────────────────────────────────────────────────────────────────────────────
        >>> Delineation of UI font elements
        ──────────────────────────────────────────────────────────────────────── */
        body :is(.status-bar, .view-header-title),
        .workspace-tabs .workspace-leaf .workspace-leaf-content :is(.view-content div, .view-content)  {
            font-family: var(--font-ui);
        }

        input[type='text'], input[type='search'], input[type='email'], input[type='password'], input[type='number'] {
            font-family: var(--font-ui);  
        }

        .empty-state-title {
            font-family: var(--font-ui);
        }

    /* ────────────────────────────────────────────────────────────────────────────
    >> FONTS | MENU
    ───────────────────────────────────────────────────────────────────────────────
        >>> Delineation of Menu font elements
        ──────────────────────────────────────────────────────────────────────── */
        .vertical-tab-nav-item,
        .modal-container .modal.mod-settings,
        .modal.mod-community-plugin,
        .modal.mod-community-theme,
        .titlebar-text,
        .community-plugin-info :is(.community-plugin-version, .community-plugin-author),
        .community-theme.is-selected .community-theme-info::after {
            font-family: var(--font-menu);
        }