/* ────────────────────────────────────────────────────────────────────────────────
> BV01
\ Root > Smaller Global Variables
\ Rounded Shapes
──────────────────────────────────────────────────────────────────────────────── */

    /* ────────────────────────────────────────────────────────────────────────────
    >> [ROUNDER SHAPES] a la Shimmering Focus, ja? | thanks to @pseudometa
    ──────────────────────────────────────────────────────────────────────────── */

    .theme-light, .theme-dark {

        --shape-roundish: 0.40rem;
        --shape-round: 3.125rem;

    }




    /* ────────────────────────────────────────────────────────────────────────────
    >> OPTIONAL ROUND SHAPES BORDERS
    ───────────────────────────────────────────────────────────────────────────────
        >>> {DRAFT} HEADERS
        ───────────────────────────────────────────────────────────────────────────
            >>>> for READING MODE
            ──────────────────────────────────────────────────────────────────── */
            body.headers-round .cm-s-obsidian .cm-header,
            body.headers-round .markdown-preview-view :is(h1, h2, h3, h4, h5, h6) {
                border-radius: calc(var(--shape-roundish) * 1.25);
            }
            /* ────────────────────────────────────────────────────────────────────
            >>>> for EDITING MODE (LIVE PREVIEW) | SEEMS TO INTERFERE WITH CODE BLOCKS
            ──────────────────────────────────────────────────────────────────── */
                .headers-round :is(.HyperMD-header-1.cm-line, .HyperMD-header-2.cm-line, .HyperMD-header-3.cm-line, .HyperMD-header-4.cm-line, .HyperMD-header-5.cm-line, .HyperMD-header-6.cm-line) {
                    border-radius: calc(var(--shape-roundish) * 1.25);
                }


        /* ─────────────────────────────────────────────────────────────────────────
        >>> CALLOUTS
        ───────────────────────────────────────────────────────────────────────── */

            .headers-round .callout {
                border-radius: calc(var(--shape-roundish) * 1.25);
            } /* for round headers, need to change? */