/* ────────────────────────────────────────────────────────────────────────────────
> EB
\ Blocks Visual Surroundings
───────────────────────────────────────────────────────────────────────────────────
    >> [EMBED BLOCKS] 
    ───────────────────────────────────────────────────────────────────────────────
        >>> REMOVE BORDERS AND PADDINGS
        ──────────────────────────────────────────────────────────────────────── */
            .markdown-embed, .file-embed {
                padding: 0 0;
                margin: 0 0;
            }
            .markdown-embed .markdown-preview-view {
                padding: 0 0 0 0;
            }
            /* ────────────────────────────────────────────────────────────────────
            >>>> for READING MODE
            ──────────────────────────────────────────────────────────────────── */
                .markdown-embed, .file-embed {
                    border-top: 0;
                    border-bottom: 0;
                }

                .markdown-embed-title {
                    display: none;
                }

            /* ────────────────────────────────────────────────────────────────────
            >>>> for EDITING MODE (LIVE PREVIEW)
            ──────────────────────────────────────────────────────────────────── */
                .markdown-source-view .markdown-embed,
                .markdown-source-view .file-embed {
                    border: 0;
                    padding: 0;
                }
        /* ─────────────────────────────────────────────────────────────────────────
        >>> NO MAX HEIGHT (display all embed content)
        ───────────────────────────────────────────────────────────────────────── */
            .markdown-embed-content {
                max-height: none;
            }

    /* ────────────────────────────────────────────────────────────────────────────
    >> [BLOCKQUOTES]
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ MARGINS + PADDING + ADD ROUNDER SHAPES
        ──────────────────────────────────────────────────────────────────────── */
            .markdown-preview-view blockquote {
                margin: 0.5rem 0;
                border-left-width: 0.3rem;
                padding: 0.35rem 0.5rem;
                border-radius: calc(var(--shape-roundish) * 1.25);
                background-color: var(--background-primary-alt);
            }

    /* ────────────────────────────────────────────────────────────────────────────
    >> [CODEBLOCKS]
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ TO ROUNDER SHAPES
        ──────────────────────────────────────────────────────────────────────── */
            .cm-s-obsidian div.HyperMD-codeblock-begin-bg {
                border-radius: calc(var(--shape-roundish) * 1.25) calc(var(--shape-roundish) * 1.25) 0 0;
            }
            
            .cm-s-obsidian div.HyperMD-codeblock-end-bg {
                border-radius: 0 0 calc(var(--shape-roundish) * 1.25) calc(var(--shape-roundish) * 1.25);
            }
        /* ─────────────────────────────────────────────────────────────────────────
        >>> COLOURS OF TOP OF A CODEBLOCK
        ───────────────────────────────────────────────────────────────────────── */
            .cm-s-obsidian div.HyperMD-codeblock-begin-bg {
                background-color: var(--background-secondary); /* was background-secondary-alt-2 - phased out */
            }

    /* ────────────────────────────────────────────────────────────────────────────
    >> PRISM.JS CODEBLOCKS
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ TO ROUNDER SHAPES
        ──────────────────────────────────────────────────────────────────────── */
        :not(pre) > code[class*="language-"],
        pre[class*="language-"] {
            border-radius: calc(var(--shape-roundish) * 1.25);
        }
        
        /* ─────────────────────────────────────────────────────────────────────────
        >>> NO PADDING!
        ───────────────────────────────────────────────────────────────────────── */
        .markdown-rendered pre {
            padding: 0;
        }

        /* ─────────────────────────────────────────────────────────────────────────
        >>> COLOURS OF TOP OF A CODEBLOCK
        ───────────────────────────────────────────────────────────────────────── */

        .markdown-reading-view pre[class*=language-]::before {
            display: block;
            content: attr(class) ' ';
            line-height: 1.5em;
            font-size: 0.9em;

            background-color: var(--background-secondary);

            color: var(--col-code-open);

            text-align: right;
        }

        /* ─────────────────────────────────────────────────────────────────────────
        >>> COLOURS INSIDE CODEBLOCK
        ───────────────────────────────────────────────────────────────────────── */
        /*code[class*=language-]*/

        :is(.theme-light, .theme-dark) :is(:not(pre) > code[class*="language-"], pre[class*="language-"]) {
            background-color: var(--background-primary-alt);
        }

        :is(.theme-light, .theme-dark) :is(code[class*="language-"],
        pre[class*="language-"]) {

            text-shadow: none;

        }

        /* ─────────────────────────────────────────────────────────────────────────
        >>> COPY BUTTON
        ───────────────────────────────────────────────────────────────────────── */
        .markdown-rendered button.copy-code-button {
            font-size: 0px;
            opacity: 0.8;
            transition: var(--quicker-transition);

            &:hover {
                opacity: 1;
                transition: var(--quicker-transition);
            }
            
            &::after {
                font-size: var(--font-text-size);
                font-family: remixicon;
                content: "\ecd5";

            }
        }

    /* ────────────────────────────────────────────────────────────────────────────
    >> [QUOTE BLOCKS]
    ───────────────────────────────────────────────────────────────────────────────
        >>> SOURCE MODE > Δ TO GREY
        ──────────────────────────────────────────────────────────────────────── */
            .HyperMD-quote-1.cm-line {
                background-color: var(--background-primary-alt);
            }

        /* ─────────────────────────────────────────────────────────────────────────
        >>> MORE COLOURS IN CODE
        ───────────────────────────────────────────────────────────────────────── */
            .cm-s-obsidian :is(.HyperMD-codeblock-begin,
            .HyperMD-codeblock-end,
            span.cm-hmd-callout) {
                color: var(--col-code-open);
            }

            .theme-light .token.operator,
            .theme-light .token.entity,
            .theme-light .token.url,
            .theme-light .language-css .token.string,
            .theme-light .style .token.string,
            .theme-light .cm-operator,
            .theme-light .cm-string,
            .theme-light .cm-string-2,
            .theme-light .cm-link {
                color: hsl(33, 45%, 42%);
            }

    /* ────────────────────────────────────────────────────────────────────────────
    >> [KEYBOARD BINDINGS] KBD
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ MARGINS + PADDING + ADD ROUNDER SHAPES
        ──────────────────────────────────────────────────────────────────────── */
        kbd {
            padding: 0 0.5em;
            border: 1px solid var(--text-accent-hover);
            border-radius: calc(var(--shape-roundish) * 1);

        }

    /* ────────────────────────────────────────────────────────────────────────────
    >> FIX | HR
    ───────────────────────────────────────────────────────────────────────────────
        >>> READING MODE
        ──────────────────────────────────────────────────────────────────────── */
            hr {
                margin: 1rem 0;
            }
        /* ─────────────────────────────────────────────────────────────────────────
        >>> LIVE PREVIEW | ADDITIONAL DECLARATIONS
        ───────────────────────────────────────────────────────────────────────── */
            .hr.cm-line > hr {
                border: none;
                border-top: 2px solid;
                border-color: var(--background-modifier-border);
            }
        
            .markdown-source-view.mod-cm6 .cm-content > [contenteditable=false] > hr {
                color: var(--background-modifier-border);
            } /* ensures it's grey */


/* setting stuff */
.theme-dark, .theme-light {
    --col-code-open : hsl(345, 69%, 46%);
}