/* ────────────────────────────────────────────────────────────────────────────────
> ED
\ Document Titles
───────────────────────────────────────────────────────────────────────────────────
    >> Nicer Document Titles
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ FONT WEIGHT and make them slightly less intrusive and smaller
        >>> Δ COLOURS too!
        ──────────────────────────────────────────────────────────────────────── */
            .view-header-title {
                font-size: 1em;
                font-weight: 600;
                color: var(--text-accent);
            }
        /* ────────────────────────────────────────────────────────────────────────
        >>> Δ ACTIVE TITLE COLOUR
        ──────────────────────────────────────────────────────────────────────── */
            .workspace-leaf.mod-active .view-header-title {
                color: var(--col-header-title-active);
            }
        /* ────────────────────────────────────────────────────────────────────────
        >>> Δ DORMANT TITLE COLOUR
        ──────────────────────────────────────────────────────────────────────── */
            .view-header-title {
                color: var(--col-header-title-dormant);
            }