/* ────────────────────────────────────────────────────────────────────────────────
> ET11
\ Editor > Typography
\ Multi-Colour Highlights

\\ thanks @pseudometa, from Shimmering Focus;
    \\ and also thanks to @Atlas
───────────────────────────────────────────────────────────────────────────────────
        >>> HIGHLIGHTS
        ───────────────────────────────────────────────────────────────────────────
            >>>> (0) STANDARD (==)
            ──────────────────────────────────────────────────────────────────── */

            .markdown-preview-view mark,
            .markdown-preview-view mark .internal-link, /* override specificity for links */
            .cm-s-obsidian span.cm-highlight {
                background-color: var(--col-highlight-0);
                color: var(--col-highlight-text);
            }

            /* ────────────────────────────────────────────────────────────────────
            >>>> (1) HIGHLIGHT 1 | WITH ITALICS (*==)
            ──────────────────────────────────────────────────────────────────── */

            .markdown-preview-view em > mark,
            .markdown-preview-view em > mark .internal-link, /* override specificity for links */
            span.cm-em.cm-highlight {
                font-style: normal;
                text-decoration: unset;
                background: none;
                background-color: var(--col-highlight-1);
                color: var(--col-highlight-text);
            }

            /* ────────────────────────────────────────────────────────────────────
            >>>> (2) HIGHLIGHT 2 | WITH BOLD (**==)
            ──────────────────────────────────────────────────────────────────── */
        
            .markdown-preview-view strong > mark,
            .markdown-preview-view strong > mark .internal-link, /* override specificity for links */
            span.cm-strong.cm-highlight {
                font-weight: normal;
                text-decoration: unset;
                background: none;
                background-color: var(--col-highlight-2);
                color: var(--col-highlight-text);
            }

            /* ────────────────────────────────────────────────────────────────────
            >>>> (3) HIGHLIGHT 3 | WITH BOLD + ITALICS (***==)
            ──────────────────────────────────────────────────────────────────── */

            .markdown-preview-view strong > em > mark,
            .markdown-preview-view strong > em > mark .internal-link, /* override specificity for links */
            span.cm-strong.cm-em.cm-highlight {
                font-weight: normal;
                text-decoration: unset;
                background: none;
                background-color: var(--col-highlight-3);
                color: var(--col-highlight-text);
            }
            
    /* ─────────────────────────────────────────────────────────────────────────
    >>> SELECTION (SELECTED TEXT COLOUR)
    ───────────────────────────────────────────────────────────────────────── */
    :is(.theme-light, .theme-dark) {
            --text-selection: var(--col-selection);

            /* original colors */
            
            /*
            --col-highlight-0: hsl(60, 100%, 50%);
            --col-highlight-1: hsl(120, 100%, 50%);
            --col-highlight-2: hsl(180, 100%, 50%); 
            --col-highlight-3: hsl(300, 100%, 50%);
            --col-highlight-4: hsl(30, 100%, 50%);
            */

            /* yellow, lime, cyan */

            --col-highlight-0: hsl(46, 100%, 50%);
            --col-highlight-1: hsl(76, 100%, 50%);
            --col-highlight-2: hsl(166, 100%, 50%); 
            --col-highlight-3: hsl(262, 44%, 82%);


            --col-highlight-text: hsl(0, 0%, 0%);   /* black */

        }
    