/* ────────────────────────────────────────────────────────────────────────────────
> ET21
\ Other Features
\ General Fixes
───────────────────────────────────────────────────────────────────────────────────
    >> Fix letter spacing ever so slightly
    ──────────────────────────────────────────────────────────────────────────── */
    .markdown-preview-view {
        letter-spacing: -0.01rem
    }
    .markdown-source-view {
        letter-spacing: -0.01rem
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >> Make sure External Link isn't over padded
    ──────────────────────────────────────────────────────────────────────────── */
        .external-link.external-link {
            padding-right: 1rem;
        }