/* ────────────────────────────────────────────────────────────────────────────────
> EX12
\ CSSClass
\ Writing + Longform
──────────────────────────────────────────────────────────────────────────────── */

:is(.theme-light, .theme-dark) {

    --size-font-longform:       1.2em;

}

/* ────────────────────────────────────────────────────────────────────────────────
> [COMMUNITY PLUGIN | Longform Editor]
\ [CSSCLASS | Writing]
\ (NOMEN | PComm029)
\ https://github.com/kevboh/longform#scene-only-styling
\ @pseudometa's code | all of Chris' rights reserved per MIT License
───────────────────────────────────────────────────────────────────────────────────
    >>> (OPTION) GUTTER INDICATOR
    ──────────────────────────────────────────────────────────────────────────── */

    /* ────────────────────────────────────────────────────────────────────────────
    >>> FONT SIZE
    ──────────────────────────────────────────────────────────────────────────── */
    .writing.markdown-preview-view,
    .writing.mod-cm6.cm-s-obsidian .cm-contentContainer,
    .longform-leaf .markdown-preview-view,
    .longform-leaf .markdown-source-view.mod-cm5,
    .longform-leaf .mod-cm6.cm-s-obsidian .cm-contentContainer {
        font-family: var(--font-longform);
        font-size: var(--size-font-longform);
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> LINE HEIGHT
    ──────────────────────────────────────────────────────────────────────────── */
    .writing.markdown-preview-view table,
    .longform-leaf .markdown-preview-view table {
        line-height: var(--lh-longform);
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> DIFFERENT HEADING STYLE
    ──────────────────────────────────────────────────────────────────────────── */
    .writing :is(h1, h2, h3, h4, h5, h6),
    :is(.writing, .longform-leaf) .cm-header.cm-header,
    .longform-leaf.longform-leaf :is(h1, h2, h3, h4, h5, h6) {
        font-family: var(--font-longform);
        line-height: 1em;
    }

    .PComm029-text-indent.PComm029-text-indent :is(.writing, .longform-leaf) p {
        text-indent: 2em;
    }

    .PComm029-justify :is(.writing.markdown-preview-view,
    .writing.mod-cm6.cm-s-obsidian .cm-contentContainer,
    .longform-leaf .markdown-preview-view,
    .longform-leaf .markdown-source-view.mod-cm5,
    .longform-leaf .mod-cm6.cm-s-obsidian .cm-contentContainer) {
        text-align: justify;
        text-justify: inter-word;
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> add longform height variation here
    ──────────────────────────────────────────────────────────────────────────── */
    .theme-light, .theme-dark {
        --lh-longform: 1.3rem;
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> makes Longform Explorer fit nicer
    ──────────────────────────────────────────────────────────────────────────── */
    .workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] .view-content {
        padding-right: 1em;
        padding-left: 1em;
    }
    .workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] ul {
        padding-inline-start: 1em;
    }