/* ────────────────────────────────────────────────────────────────────────────────
> EY11
\ HTML
\ Infobox
\\ under construction
──────────────────────────────────────────────────────────────────────────────── */

aside[class="infobox"] {
    float: right;
    max-width: 50%;

    border: 0;
    margin-left: 0.5rem;
    border-radius: calc(var(--shape-roundish) * 1.25);


    title {

        background-color: var(--col-bg-table);
        justify-content: center;
        text-align: center;
        display: block;

        font-family: var(--font-heading);
        font-weight: 600;

    }

}