/* ────────────────────────────────────────────────────────────────────────────────
> EY21
\ HTML
\ Progress Bar
──────────────────────────────────────────────────────────────────────────────── */

progress {
    -webkit-appearance: none;

    --col-progress-0: hsl(0, 100%, 52.55%);
    --col-progress-1: hsl(13.39, 100%, 49.22%);
    --col-progress-2: hsl(26.78, 100%, 45.69%);
    --col-progress-3: hsl(40, 100%, 42.35%);
    --col-progress-4: hsl(53.37, 100%, 39.02%);
    --col-progress-5: hsl(66.63, 100%, 35.49%);
    --col-progress-6: hsl(80.12, 100%, 32.16%);
    --col-progress-7: hsl(93.47, 100%, 28.82%);
    --col-progress-8: hsl(106.51, 100%, 25.29%);
    --col-progress-9: hsl(120, 100%, 21.96%);
    --col-progress-10: hsl(133.49, 100%, 18.63%);

    height: 0.5em;
    vertical-align: middle;
    
    &[value]::-webkit-progress-bar,
    &[value]::-webkit-progress-value {
        border-radius: calc(var(--shape-roundish) * 2);
        
        height: 0.5em;
        vertical-align: middle;
    }

    &[value='0']::-webkit-progress-value,
    &[value='1']::-webkit-progress-value,
    &[value='2']::-webkit-progress-value,
    &[value='3']::-webkit-progress-value,
    &[value='4']::-webkit-progress-value,
    &[value='5']::-webkit-progress-value,
    &[value='6']::-webkit-progress-value,
    &[value='7']::-webkit-progress-value,
    &[value='8']::-webkit-progress-value,
    &[value='9']::-webkit-progress-value {
        background-color: var(--col-progress-0);
    }

    &[value^="1"]::-webkit-progress-value {
        background-color: var(--col-progress-1);
    }

    &[value^="2"]::-webkit-progress-value {
        background-color: var(--col-progress-2);
    }

    &[value^="3"]::-webkit-progress-value {
        background-color: var(--col-progress-3);
    }

    &[value^="4"]::-webkit-progress-value {
        background-color: var(--col-progress-4);
    }

    &[value^="5"]::-webkit-progress-value {
        background-color: var(--col-progress-5);
    }

    &[value^="6"]::-webkit-progress-value {
        background-color: var(--col-progress-6);
    }

    &[value^="7"]::-webkit-progress-value {
        background-color: var(--col-progress-7);
    }

    &[value^="8"]::-webkit-progress-value {
        background-color: var(--col-progress-8);
    }

    &[value^="9"]::-webkit-progress-value {
        background-color: var(--col-progress-9);
    }

    &[value="100"]::-webkit-progress-value {
        background-color: var(--col-progress-10);
    }
}