/* ────────────────────────────────────────────────────────────────────────────────
> EZ01
\ Other Features
\ List + Indentation Guides
\ List Collapse Indicator + Custom Margins
───────────────────────────────────────────────────────────────────────────────────
    >> SOURCE MODE
    ──────────────────────────────────────────────────────────────────────────── */

    .theme-light, .theme-dark {

        --indent-indentation-guide: calc(var(--font-text-size) * var(--indent-degree));
        --indent-indentation-guide-minus: calc(var(--font-text-size) * calc(var(--indent-degree) - 1));
        --indent-indentation-guide-plus: calc(var(--font-text-size) * calc(var(--indent-degree) + 1));
        --indent-degree: 3; /* add style settings */ /* this is just 1em right? */

    }

    /* deal with the indentation warping */
    .HyperMD-list-line {
        white-space: nowrap;

        & > * {
            display: contents;
            vertical-align: top;
            white-space: pre-wrap;
        }
    

    }

    .markdown-source-view.mod-cm6 { 

        /* collapse indicators */
        & .HyperMD-list-line .cm-fold-indicator .collapse-indicator {
            padding-right: calc((0.5) * var(--indent-indentation-guide-minus));
            /* don't ask me why +1px */

            & svg.right-triangle {
                height: 0.875em;
                width: 0.875em;
                vertical-align: middle;
            } /* deviation from the 0.875rem for normal lol */

            body:not(.remove-collapse-header-sanctum) & > svg.right-triangle {
                /* position: absolute; */
                /* left: calc(0.5 * 0.875rem); */ /* size of the sanctum one */
            }
        }
    
        & .HyperMD-list-line-1 .cm-fold-indicator .collapse-indicator {
            padding-right: 0;
            position: absolute;
            right: calc((-0.5) * var(--indent-indentation-guide-minus));
                /* remove above offset so it can close properly FOR FIRST/PRIMATE LIST ITEMS */
        }

        & .cm-hmd-list-indent {
            white-space: nowrap; /* no wrap so the lines in source view looks okay*/
        }
    
        & .list-bullet:after {
            left: 0; /* ensures centering */
        }

        & .cm-indent::before {
            width: calc((0.5) * var(--indent-indentation-guide)); /* fine after the additional space */
            z-index: -1; /* ensures the indentation lines won't cut through stuff */
        }

        & span.cm-indent {
            width: calc((1) * var(--indent-indentation-guide));
        }

    }

        /* for both? lists */

    span.cm-formatting-list {
        text-align: center; /* centers everything */

        &::before {
            content: " "; /* needed for centered lines */
            padding-left: calc((0.5) * var(--indent-indentation-guide-minus)); /* force padding-left changes? */
        } /* wtf why does this work? */
    }

    span:is(.cm-formatting-list-ol, .cm-formatting-list-ul) {
        width: var(--indent-indentation-guide); /* ensures that we get uniform box sizes */
    }

    .cm-s-obsidian .HyperMD-list-line {
        padding-top: 0px; /* makes it the same as Reading mode */
    }



    /* ────────────────────────────────────────────────────────────────────────────
    >> READING MODE
    ──────────────────────────────────────────────────────────────────────────── */

    ul, ol {
        padding-inline-start: calc(((1) * var(--indent-indentation-guide)));
        /* list-style-position: inside; */


        .markdown-preview-view & .list-collapse-indicator {
            padding: 0;

            & svg.right-triangle {
                height: 0.875em;
                width: 0.875em;
                vertical-align: middle;
            } /* deviation from the 0.875rem for normal lol */
        }

    
        .markdown-preview-view & .list-collapse-indicator{
            /* margin-left: calc(((-2) * var(--indent-indentation-guide)) + var(--indent-indentation-guide) / 15); */
            /* 1px for 0-15px, 2px for 15-30px */
            /* margin-left: calc(((-1) * var(--indent-indentation-guide)) - 1em); */
            position: absolute;
            left: calc(((-1) * var(--indent-indentation-guide-plus)));
        }

        .markdown-preview-view & li[data-line="0"] > .list-collapse-indicator{
            margin-left: calc(((-1.75) * var(--indent-indentation-guide)));
        } /* reduction of 0.25, as per source mode */

        & > li {

            position: relative;
            /* text-indent: -5px; */
            text-indent: calc(0.5 * var(--indent-indentation-guide));
            /* I initially thought 4 cuz of how Obs work, but wtf does 5 work?? */


        }
            
    }

    .markdown-rendered.show-indentation-guide li > :is(ul, ol)::before {
        left: calc((-0.5) * var(--indent-indentation-guide));
        /* 4px cuz of the way things are rendered in Source mode? diff between text-indent and padding-left */
    }

    div.el-ul > ul:first-of-type {
        padding-inline-start: calc(((0.5) * var(--indent-indentation-guide)));
    } /* shifts indent guides back properly */

    div.el-ol > ol:first-of-type {
        padding-inline-start: calc(((0.5) * var(--indent-indentation-guide)));
    } /* shifts indent guides back properly */


    div:is(.el-ul, .el-ol) {

        &::before {
        /* content: " "; */ /* parallel to Source/LP? */
        }
    
        padding-left: 4px;
        /* 4px is the div-span gap in editing mode, ensures it aligns with editor */
    }

    ul > li::marker {
        content: "";
    }

    ul > li::before {
        content: " • ";
        position: relative;
        left: calc((-0.5) * var(--indent-indentation-guide-minus));
    }

    /* Project Narbonne */

    /*
    body.plugin-sliding-panes .workspace > .mod-root.mod-root {
        overflow-x: hidden;

        .workspace-leaf {
            width: 100%;
            right: 0;
            position: absolute;

            .view-header {
                display: contents;
                height: 20% !important;
                position: absolute;
                top: 20% !important;
                right:  var(--header-width);
                z-index: 5;
            }

            .view-content {
                width: calc(100% - var(--header-width));
            }
        }

        .workspace-leaf.mod-am-left-of-active {

            .view-header {
                position: fixed;
                top: 0% !important;
                z-index: 5;
            }
        }

        .workspace-leaf.mod-am-right-of-active {

            .view-header {
                position: fixed;
                top: 40% !important;
                z-index: 5;
            }
        }

        .mod-active {
            z-index: 2;
        }
    }
    */

    /* idk how to do this */

    /*
    .mod-root .view-header:nth-of-type() {

        width: 10vw;
    }

    .mod-root .mod-active {

        position: absolute;
        width: 100vw;
        z-index: 2;
        top: 36px;
        

        .view-content {
            position: absolute;
            width: 100%;
            
        }

        .view-header {
            position: absolute;
            top: -36px;
        }
    }

    .mod-root .workspace-leaf {
        flex-grow: 1 !important;
    }
    */
    
    /*
    .mod-root .workspace-leaf:before {
        content: 'HI';
        position: fixed;
        z-index: 5;
        border-radius: 5px;
        color: var(--text-muted);
        border: 1px solid var(--text-muted);

    }

    .mod-root .workspace-leaf-content .view-header {
        display: none !important;
    }

    .mod-root .workspace-leaf {
        flex-grow: 1 !important;
    }
    */