/* ────────────────────────────────────────────────────────────────────────────────
> EZ00
\ Other Features
\ Other Improvements and Styling
───────────────────────────────────────────────────────────────────────────────────
    >> (OPTION) CENTRE IMAGES
    ───────────────────────────────────────────────────────────────────────────────
        >>> (includes Emoji fix)
        ──────────────────────────────────────────────────────────────────────── */
        body.centre-image .view-content img[src]:not(.emoji) {
            margin-right: auto;
            margin-left: auto;
            display: block;
        }


        /* ─────────────────────────────────────────────────────────────────────────
        >>> DON'T CENTRE IN A LIST + EMOJI FIX
        ───────────────────────────────────────────────────────────────────────── */

        body.centre-image .view-content ul > li > * > img[src]:not(.emoji) {
            margin-left: 0;
        }
        body:not(.centre-image) .view-content ul > li > * > img[src]:not(.emoji) {
            display: block;
            margin-left: 0;
        }

    /* ────────────────────────────────────────────────────────────────────────────
    >> (OPTION) IMAGE DESATURATION
    ───────────────────────────────────────────────────────────────────────────────
        >>> (OPTION) desaturate images when not hovered
        \\\ AND ALLOW PEOPLE TO CHOOSE HOW MUCH
        ──────────────────────────────────────────────────────────────────────── */
        .image-desaturation-reading .markdown-preview-view img[src]:not(:hover) {
            filter: grayscale(40%);
            transition: var(--quick-transition);
        } /* can't var filter I believe */

        .image-desaturation-reading .markdown-preview-view img[src]:hover {
            filter: grayscale(0%);
            transition: var(--quick-transition);
        }

        .image-desaturation-all img[src]:not(:hover) {
            filter: grayscale(40%);
            transition: var(--quick-transition);
        } /* can't var filter I believe */
        
        .image-desaturation-all img[src]:hover {
            filter: grayscale(0%);
            transition: var(--quick-transition);
        }

    /* ────────────────────────────────────────────────────────────────────────────
    >> (OPTION) MERMAID.JS GRAPH WIDTH FIX
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ WIDTH TO FIT
        ──────────────────────────────────────────────────────────────────────── */
            .fix-mermaid-width .mermaid svg {
                width: 100%;
            }

    /* ────────────────────────────────────────────────────────────────────────────
    >> (OPTION) IMG WIDTH FIX
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ WIDTH TO FIT
        ──────────────────────────────────────────────────────────────────────── */
        .fix-img-width img[src] {
            max-width: 100%;
        }

    /* ────────────────────────────────────────────────────────────────────────────
    >> MATHJAX IMPROVEMENTS
    ───────────────────────────────────────────────────────────────────────────────
        >>> Δ FONT SIZE
        ──────────────────────────────────────────────────────────────────────── */
            div mjx-math {
                font-size: 1.1em;
            }


            /* test */
            /*body {
                counter-reset: maths;
            }

            .math-block {
                font-family: "MathJax Main";
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .el-div > .math-block {
                counter-increment: maths;
            }    
            
            .math-block::before {
                content: "(" counter(maths) ")";
                visibility: hidden;
            }
            
            .math-block::after {
                content: "(" counter(maths) ")";
            }
            */

        /* ────────────────────────────────────────────────────────────────────────
        >>> (OPTION) Δ WIDTH TO FIT
        ──────────────────────────────────────────────────────────────────────── */
            .fix-mathjax-width mjx-math.MJX-TEX {
                max-width: 100%;
            }

    /* ────────────────────────────────────────────────────────────────────────────
    >> [SHIMMERING FOCUS | HIDE LINKS IN SOURCE MODE]
    ──────────────────────────────────────────────────────────────────────────── */
    body:not(.show-urls).source-links-hide .cm-s-obsidian:not(.is-live-preview) .cm-line:not(.cm-active) .cm-string.cm-url {
    

        &:is(.cm-formatting) {

            text-decoration: none;

        }

        &:not(.cm-formatting) {

            text-decoration: none;
            font-size: 0;
        
            &::after {
                content: "\eeb7";
                font-family: "remixicon";
                font-size: var(--font-text-size);
                position: relative;
                top: 0.125rem;
            }
        }
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >> [SANCTUM | COLLAPSE HEADER INDICATOR]
    ───────────────────────────────────────────────────────────────────────────────
        >>> (OPTION) [REMOVE AND] Δ Collapse Header Indicator -> Sanctum-style
        ──────────────────────────────────────────────────────────────────────── */
            body:not(.remove-collapse-header-sanctum) svg.right-triangle{
                height: 0.875rem;
                width: 0.875rem;
                vertical-align: middle;
                mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E");
                -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E");
            }
        /* ─────────────────────────────────────────────────────────────────────────
        >>> ENSURE INDICATOR REMAINS LARGE ENOUGH
        ───────────────────────────────────────────────────────────────────────── */
            .heading-collapse-indicator.collapse-indicator.collapse-icon svg.right-triangle {
                height: 0.75rem;
                width: 0.75rem;
            }
        /* ─────────────────────────────────────────────────────────────────────────
        >>> MINIMISE PADDING FOR HEADER COLLAPSE INDICATOR
        ───────────────────────────────────────────────────────────────────────── */
            .markdown-preview-view .heading-collapse-indicator {
                margin-left: -1.75rem;
                padding: 0 0.5rem;
            }
            /*
            .markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator {
                padding-right: 0.3rem;
            }
            */

        /* ─────────────────────────────────────────────────────────────────────────
        >>> ENSURES HEADER COLLAPSE INDICATOR ALIGNS PROPERLY
        ───────────────────────────────────────────────────────────────────────── */

            .heading-collapse-indicator.collapse-indicator.collapse-icon {
                display: inline-block;
                align-items: center;        
            }

