/* ────────────────────────────────────────────────────────────────────────────────
> EW03
\ Callouts (Columns)
──────────────────────────────────────────────────────────────────────────────── */

body {
    .callout:is([data-callout="columns"]) {
        --callout-color: 150, 150, 150;
        --callout-icon: lucide-columns; /* fallback option: grid */

        background-color: unset;
        margin-bottom: 0;

        &:hover {
            border-left: 0rem solid rgb(var(--callout-color));
        }

        & > .callout-title {

            border-radius: var(--callout-radius);

            background-color: rgba(var(--callout-color), 0.125); /* inherits the original */



            &:hover {
                border-left: 5px solid rgb(var(--callout-color));
                transition: var(--quick-transition);
            }
        }

        & > .callout-content {

            padding: 0;

            display: flex;
            flex-direction: row;
            gap: 0.5em;
            max-width: 100%;

            background-color: unset; /* remove background */

            & > .callout {
                margin-bottom: auto;
            }


            & > .callout > * {

            }


            /* padding: 0 0.5em; */

            & .callout {
                flex: 1 1 100%;
                flex-wrap: wrap;

                /* min-width: var(--callout-columns-sub-width-min); */

                & .callout-content {
                    /* border: 0px; */
                }
            }

        }

        & .callout-content {

        }
        
    }
}

/* clamp flex in order to force minimum width
to relook at later */

.theme-light, .theme-dark {
    --callout-columns-sub-width-min: max(50%,200px);
}