/* ────────────────────────────────────────────────────────────────────────────────
> EL
\ Editor
───────────────────────────────────────────────────────────────────────────────────
        Variable Line Length
        ──────────────────────────────────────────────────────────────────────── */

        .ssopt-editor-vll {
    
            .markdown-source-view.markdown-source-view.markdown-source-view.mod-cm6 {
                
                & .cm-contentContainer {
                    max-width: unset;
                }
                
                :is(.cm-content /*,
                 .cm-line:not(.HyperMD-table-row)*/) { /* I disabled this so that percentage widths are not wonky and affected by the line length setting */
                    max-width: var(--width-vll);
                    margin: auto;
                }
            }
    
            .markdown-preview-view.markdown-preview-view .markdown-preview-sizer {
                max-width: var(--width-vll);
                margin: auto;
            } /* preview */
        }
    
        .theme-light, .theme-dark {
    
            --width-vll: 700px;
    
        } /* setting a default for width-vll */

    /* ────────────────────────────────────────────────────────────────────────────
    >> Document Titles fitted to Varying Line Length
    ──────────────────────────────────────────────────────────────────────────── */

    .ssopt-editor-vll.ssopt-editor-vll-title { /* added the class so that it can only work when the editor is using the variable line length setting */
        .workspace-leaf-content[data-type="markdown"] {

            /*
            max-width: var(--width-vll);
            margin: auto;
            */ /* does not work */

            div.view-header {

                box-sizing: border-box;

                max-width: 100%;

                --padding-math-vll: max(50% - 0.5 * var(--width-vll), var(--file-margins));

                padding: 0 var(--padding-math-vll) 0 var(--padding-math-vll);
                margin: 0; /* margin needs to be removed for the padding to be correctly set to the above */ /* this is set in the padding instead, as a minimum size for things that do not need the line-length thing since it's smaller than that*/

            } /* does this work? */
        }
    }