body {
--shape-roundish: 0.40rem;
}

.theme-light, .theme-dark {
    --radius-s: calc(var(--shape-roundish) * 0.5);
    --radius-m: calc(var(--shape-roundish) * 1);
    --radius-l: calc(var(--shape-roundish) * 1.5);

    --input-radius: var(--radius-s);
}