/* ────────────────────────────────────────────────────────────────────────────────
> WX000
\ Plugins > Core
──────────────────────────────────────────────────────────────────────────────── */

/* ────────────────────────────────────────────────────────────────────────────────
>> [CORE PLUGIN | Publish]
\\ (NOMEN | PCore010)
───────────────────────────────────────────────────────────────────────────────────
    >>> MODAL STUFF
    ──────────────────────────────────────────────────────────────────────────── */
    .modal.mod-publish {

        /* adds the Style Settings options for Modal Widths and Heights*/
        width: var(--modal-width-publish);
        height: var(--modal-height-publish);
        
        &:not(.is-mobile) {

            /* sets minimum width so that it wouldn't turn distorted
            not vw since larger screens should be able to take smaller % */
            min-width: 800px; 
            min-height: 400px;
            max-height: unset;

            /* rounded boxes modal borders */
            border-radius: calc(var(--shape-roundish) * 2); 

        }
    }

    .publish-changes-switch-site {
        display: flex; /* i have no idea why it broke LOL */
    }


/* ────────────────────────────────────────────────────────────────────────────────
>> [CORE PLUGIN | Command Palette] (alias: hotkeys + Ctrl + P)
\\ (NOMEN | PCore011)
───────────────────────────────────────────────────────────────────────────────────
    >>> (OPTION) Δ Things to the right
    ──────────────────────────────────────────────────────────────────────────── */

    /*
    body:not(.is-mobile, .normal-command-palette) {
          
        & span.suggestion-content {
            display: inline-block;
            letter-spacing: -0.01rem;
            font-size: 0.9rem;

            flex-basis: 55%;
        }
        
        & span.suggestion-prefix {
            display: inline-block;
            background-color: transparent;
            color: var(--text-accent);
            font-size: 0.7rem;
            letter-spacing: -0.01rem;
            order: 2;

            &::after {
                display: none;
            }

            flex-basis: 45%;

        }

        & kbd.suggestion-hotkey {
            position: absolute;
            right: 0.25rem;

            display: flex;
            align-items: center;
            height: 70%;

            font-size: 0.6rem;
            letter-spacing: -0.01rem;

            
        }

        & .suggestion-flair {
            left: 0.25rem;
        }
        
        & div.prompt-instructions {
            padding: 0.25rem 0 0 0;
        }

        & .suggestion-item {
            padding: 0 0.25rem 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 175%;
        
            row-gap: 0;
            column-gap: 0.5rem;
    
            border-radius: calc(var(--shape-roundish) * 1.5);
    
            > span {
                display: inline-block;
            }
        }

        & .suggestion-container {
            border-radius: calc(var(--shape-roundish) * 1.5);

            &.mod-search-suggestion {
                padding: 0;
            }
        }

        & .prompt {
            padding: 0.25rem;
        }

        & .prompt-results {
            padding: 0.25rem 0 0 0;
        }
    }
    */

    body:not(.is-mobile, .normal-command-palette) {

        & .suggestion-item {
            display: flex;
            flex: 0 0 100%;

            /* display: table;
            width: 100%; */

            & kbd.suggestion-hotkey {
                letter-spacing: -0.01rem;
                font-size: 0.7em;
                padding: 0 0.5em;
                /* line-height: 1.5em; */
    
                vertical-align: middle;
            }

        }

        & .suggestion-content {
            display: flex;
            flex: 0 0 80%;
        }

        & .suggestion-title {
            display: flex;
            /* column-gap: 5%; */ /* covered by padding-right in span:not(.suggestion-prefix) + affects other prompts */
        }

        & .suggestion-aux {
            display: flex;
            flex: 0 0 20%;
            justify-content: flex-end;
            column-gap: 5%;
        }

        & span.suggestion-prefix {
            background-color: transparent;
            color: var(--text-accent);
            font-size: 0.7em;
            letter-spacing: -0.01rem;
            padding: /*0rem 0.5rem*/ 0;

            display: flex;
            align-items: center;

            &::after {
                display: none;
            }
            
            /* left: 55%; */

            vertical-align: middle;

            & > * {
                display: contents;
            }

        }

        & span.suggestion-content {
            letter-spacing: -0.01rem;
            font-size: 0.9em;

            max-width: 50%;

            vertical-align: middle;
            display: inline-flex;

            & > * {
                display: contents;
            }
        }

        & .suggestion-flair {
            left: 0.05rem;
            transform: scale(80%);
        }
        




        & .suggestion-title {
            

            & > span:not(.suggestion-prefix, .suggestion-highlight) {
                
                display: flex;
                order: 1;
                flex:  0 0 65%;
                padding-right: 5%;

                & > span {
                    display: contents;
                }

            }

            & > span:is(.suggestion-prefix) {

                display: flex;
                order: 2;
                flex: 0 0 35%;

            }

            .suggestion {
                .list-item-part.search-suggest-icon.clickable-icon {
                    display: table-cell;
                    float: right;
                } /* for search icons */
        
                span.search-suggest-name.list-item-part.mod-extended {
                    height: fit-content;
                    display: table-cell;
                    vertical-align: middle;
                } /* for the search names */
            }
        
            :is(.suggestion-item.mod-complex, .prompt-results) {
                .suggestion-aux {
                    display: table-cell;
                    text-align: right;
        
                    .suggestion-flair {
        
                        margin: 0;
                        margin-right: 4px;
        
                        align-self: stretch;
                        height: 100%;
        
                        svg {
                            height: auto;
                            width: auto;
                            vertical-align: middle;
                        }
                    }
        
                }
            } /* ugh this needs further resolving */
        
        }
}


/* ────────────────────────────────────────────────────────────────────────────────
>> [CORE PLUGIN | File Explorer]
\\ (NOMEN | PCore012)
───────────────────────────────────────────────────────────────────────────────────
    >>> PADDINGS STUFF
    ──────────────────────────────────────────────────────────────────────────── */

    /*
    .workspace-leaf-content[data-type=file-explorer] .nav-header {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    */ /* superseded */

    span.status-bar-item-icon.sync-status-icon {
        display: flex;
        align-items: center;

        svg {
            transform: scale(115%);
        }
    }