/* ────────────────────────────────────────────────────────────────────────────────
> CA01
\ Colour Palettes
\ LSHTM
───────────────────────────────────────────────────────────────────────────────────
    >> [CLASSIC | LSHTM]
    ──────────────────────────────────────────────────────────────────────────── */
        .cp-classic-lshtm:is(.theme-light, .theme-dark) {

            /* ────────────────────────────────────────────────────────────────────
            >>> ACCENTS
            ──────────────────────────────────────────────────────────────────── */
                --accent-light: hsl(41, 100%, 40%);
                --accent-lighter: hsl(41, 100%, 55%);
                --accent-lighterer: hsl(41, 100%, 70%);
                --accent-lightest: hsl(41, 100%, 85%);


        }

        /* ────────────────────────────────────────────────────────────────────────
        >>> LIGHT THEME
        ───────────────────────────────────────────────────────────────────────── */
            .cp-classic-lshtm.theme-light {

                --background-primary:           hsl(0, 0%, 100%);
                --background-primary-alt:       hsl(220, 18%, 97%);

                --background-secondary:         hsl(220, 13%, 95%);
                --background-secondary-alt:     hsl(216, 10%, 90%);

                /* ─────────────────────────────────────────────────────────────────
                >>>> HEADINGS > Colours > Text
                ───────────────────────────────────────────────────────────────── */
                    --col-h1: hsl(155, 100%, 37%);
                    --col-h2: hsl(184, 74%, 20%);
                    --col-h3: hsl(238, 70%, 39%);
                    --col-h4: hsl(19, 100%, 57%); /* rgb(254 80 0) rgb(255 125 0);*/
                    --col-h5: hsl(324, 100%, 15%);
                    --col-h6: hsl(184, 74%, 20%); 
                /* ─────────────────────────────────────────────────────────────────
                >>>> HEADINGS > Colours > Background
                ───────────────────────────────────────────────────────────────── */
                    --col-h1-bg: hsla(184, 74%, 20%, 0.08);
                    --col-h2-bg: hsla(155, 100%, 37%, 0.2);
                    --col-h3-bg: hsla(188, 100%, 39%, 0.25);
                    --col-h4-bg: hsla(41, 100%, 55%, 0.2);
                    --col-h5-bg: hsla(352, 100%, 85%, 0.2);
                    --col-h6-bg: transparent;
                /* ─────────────────────────────────────────────────────────────────
                >>>> COLOURS > Miscellany
                ───────────────────────────────────────────────────────────────── */
                    --text-accent: hsl(184, 75%, 20%);
                    --text-accent-hover: hsl(155, 100%, 37%);
                    --col-bg-table: hsl(155, 100%, 37%);
                    --col-header-title-active: hsl(155, 100%, 37%);
                    --col-header-title-dormant: hsl(184, 74%, 20%);
                    --interactive-bg: hsl(155, 100%, 37%);
                    --interactive-border-color: hsl(184, 74%, 20%);
                    --interactive-accent: hsl(155, 100%, 37%);
                    --interactive-accent-hover: hsl(184, 74%, 20%);
                    --scroll-hover: hsl(155, 100%, 48%);                
                    --col-selection: var(--accent-lighterer);

                    --text-dark: hsl(184, 74%, 20%);
                    --text-light: hsl(155, 100%, 37%);

                    --col-sd: hsl(184, 75%, 20%);

                /* ─────────────────────────────────────────────────────────────────
                >>> [COMMUNITY PLUGIN | Calendar] SET TODAY'S AND YEAR's COLOURS
                ───────────────────────────────────────────────────────────────── */
                --PComm001-col-today: hsl(41, 100%, 55%);
                --PComm001-col-year: hsl(155, 100%, 37%);
                --PComm001-col-dot: hsl(184, 74%, 20%);

            }

        /* ────────────────────────────────────────────────────────────────────────
        >>> DARK THEME
        ───────────────────────────────────────────────────────────────────────── */
            .cp-classic-lshtm.theme-dark {

                --background-primary:           hsl(0, 0%, 13%);
                --background-primary-alt:       hsl(0, 0%, 9%);

                --background-secondary:         hsl(0, 0%, 8%);
                --background-secondary-alt:     hsl(0, 0%, 0%);
                
                /* ─────────────────────────────────────────────────────────────────
                >>>> HEADINGS > Colours > Text
                ───────────────────────────────────────────────────────────────── */
                    --col-h1: hsl(187, 13%, 87%);
                    --col-h2: hsl(155, 100%, 37%);
                    --col-h3: hsl(188, 100%, 39%);
                    --col-h4: hsl(41, 100%, 55%);
                    --col-h5: hsl(352, 100%, 85%);
                    --col-h6: hsl(155, 100%, 37%);
                /* ─────────────────────────────────────────────────────────────────
                >>>> HEADINGS > Colours > Background
                ───────────────────────────────────────────────────────────────── */
                    --col-h1-bg: hsla(155, 100%, 37%, 0.73);
                    --col-h2-bg: hsla(184, 74%, 20%, 0.2);
                    --col-h3-bg: hsla(238, 70%, 39%, 0.25);
                    --col-h4-bg: hsla(19, 100%, 50%, 0.2);
                    --col-h5-bg: hsla(324, 100%, 15%, 0.2);
                    --col-h6-bg: transparent;
                /* ─────────────────────────────────────────────────────────────────
                >>>> COLOURS > Miscellany
                ───────────────────────────────────────────────────────────────── */
                    --text-accent: hsl(155, 100%, 37%);
                    --text-accent-hover: hsl(184, 74%, 20%);
                    --col-bg-table: hsl(184, 74%, 20%);
                    --col-header-title-active: hsl(155, 100%, 37%);
                    --col-header-title-dormant: hsl(184, 74%, 20%);
                    --interactive-bg: hsl(155, 100%, 37%);
                    --interactive-border-color: hsl(155, 100%, 37%);
                    --interactive-accent: hsl(155, 100%, 37%);
                    --interactive-accent-hover: hsl(184, 74%, 20%);
                    --scroll-hover: hsl(155, 100%, 48%); 
                    --col-selection: var(--accent-lighterer);

                    --text-dark: hsl(184, 74%, 20%);
                    --text-light: hsl(155, 100%, 37%);

                    --col-sd: hsl(155, 100%, 37%);

                /* ─────────────────────────────────────────────────────────────────
                >>> [COMMUNITY PLUGIN | Calendar] SET TODAY'S AND YEAR's COLOURS
                ───────────────────────────────────────────────────────────────── */
                --PComm001-col-today:   hsl(41, 100%, 70%);
                --PComm001-col-year:    hsl(155, 100%, 37%);
                --PComm001-col-dot:     hsl(155, 100%, 50%);

            }