/* ────────────────────────────────────────────────────────────────────────────────
> WY100F
\ Plugins > Community > Style Settings
\ Warning Notes
    \\ PComm000 | Style Settings
──────────────────────────────────────────────────────────────────────────────── */

    /* ────────────────────────────────────────────────────────────────────────────
    >>> warning notes
    ──────────────────────────────────────────────────────────────────────────── */    

    .setting-item:is([data-id="table-lp-magic"]) :is(.setting-item-description) {

        &::after {

            content: "⚠️ Please ENSURE you use a true monospace font for the 'Font Typeface — Monospace' option in Typography > Font Typeface Customisation, and have the Advanced Tables plugin with the 'Pad cell width using spaces' option turned on for it to work properly.";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }

    .setting-item:is([data-id="width-tables-min"], [data-id="width-tables-max"]) :is(.setting-item-description) {

        &::after {

            content: "⚠️ This option only works if the 'Set Minimum and Maximum Table Widths' option is enabled.";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }

    .setting-item:is([data-id="table-min-space"]) :is(.setting-item-description) {

        &::after {

            content: "⚠️ This option is not meant to be aesthetically pleasing.";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }

    .setting-item:is([data-id="PComm027-indicator"]) :is(.setting-item-description) {

        &::after {

            content: "⚠️ PLEASE use your apostrophes (' ') to ensure the new indicator renders!";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }

    .setting-item:is([data-id="img-grid"]) :is(.setting-item-description) {

        &::after {

            content: "⚠️ You must install and enable the Contextual Typography plugin (versions 2.2.1 onwards) for this to work.";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }

    .setting-item:is([data-id="font-pairings"]) :is(.setting-item-description) {

        &::after {

            content: "✅ These options here are quick options provided. To override them, please select 'Custom Fonts'.";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }

    .setting-item:is([data-id="adv-settings-col"]) :is(.setting-item-description) {

        &::after {

            content: "⚠️ PLEASE ONLY USE THIS IF YOU ARE ABSOLUTELY SURE OF WHAT YOU ARE DOING. \a In the event you might have changed something inadvertently, reset to the theme's original colours using the button beside the colour picker.";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }    

    .setting-item:is([data-id="tb-tb-remove"]) :is(.setting-item-description) {

        &::after {

            content: "⚠️ This means that you will not be able to resize your screen, or exit Obsidian with a mouse. These can be done via hotkeys instead.";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }    

    .setting-item:is([data-id="gradient-headers"]) :is(.setting-item-description) {

        &::after {

            content: "⚠️ Please note that this will break emojis that are present in your headers. If you have emojis in your headers, DO NOT use this option.";
            white-space: initial;
            color: var(--text-normal);
            font-size: 0.75rem;
            font-weight: 500;

            background-color: var(--background-secondary-alt);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding: 0 0.25rem;

            display: inline-flex;

            line-height: 1.5;

        }

    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> Dropdowns - Nuclear Options
    ──────────────────────────────────────────────────────────────────────────── */

    select.dropdown {
        option:is([value="sd-begone-bars"], [value="sb-hiding"], [value="tb-tb-remove"], [value="metadata-container-none"]) {
            
            color: var(--text-on-accent);
            background-color: var(--background-modifier-error);
        }
    }