/* ────────────────────────────────────────────────────────────────────────────────
> WY100C
\ Plugins > Community > Style Settings
\ Specifics (Targeted Items)
    \\ PComm000 | Style Settings
──────────────────────────────────────────────────────────────────────────────── */

    /* ────────────────────────────────────────────────────────────────────────────
    >>> MAKING SOME THINGS COPYABLE
    ──────────────────────────────────────────────────────────────────────────── */
    .setting-item.mod-toggle[data-id="support-willemstad-github"] .setting-item-description,
    .setting-item.mod-toggle[data-id="support-willemstad-issue"] .setting-item-description,
    .setting-item.mod-toggle[data-id="support-willemstad-obsidian"] .setting-item-description,
    .setting-item.mod-toggle[data-id="placeholder-1"] .setting-item-description,
    .setting-item.mod-toggle:is([data-id="support-kepano"], [data-id="info-re-theme-documentation"]) .setting-item-description {
        cursor: text;
        user-select: all;
        color: var(--text-accent-hover);
    }

    /*  KEEPING CODE FOR POSTERITY'S SAKE, IN CASE I USE HEADINGS AGAIN

        .setting-item.style-settings-heading[data-id="support-willemstad-github"] .setting-item-description,
        .setting-item.style-settings-heading[data-id="support-willemstad-issue"] .setting-item-description,
        .setting-item.style-settings-heading[data-id="support-willemstad-obsidian"] .setting-item-description,
        .setting-item.mod-toggle[data-id="placeholder-1"] .setting-item-description {
        cursor: text;
        user-select: all;
        color: var(--text-accent-hover);
    }

    */

    /* ────────────────────────────────────────────────────────────────────────────
    >>> UNDERLINE + BOLD SUPPORT DEVELOPMENT STUFF?
    ──────────────────────────────────────────────────────────────────────────── */  
    :is(.setting-item.mod-toggle[data-id="support-willemstad-github"],
    .setting-item.mod-toggle[data-id="support-willemstad-issue"],
    .setting-item.mod-toggle[data-id="support-willemstad-obsidian"],
    .setting-item.mod-toggle[data-id="support-kepano"]) .setting-item-name {
        text-decoration: underline;
        text-underline-position: under;
        font-weight: 600;
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> development stuff > remove the collapse indicator
    ──────────────────────────────────────────────────────────────────────────── */ 
    .setting-item[data-id="support-willemstad"] {

        pointer-events: none;
        cursor: pointer; /* ensures that this cannot be collapsed */

        > * > * > .style-settings-collapse-indicator {
            display: none;
        }
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> colour code the three Willemstad bits
    ──────────────────────────────────────────────────────────────────────────── */
    :is(.setting-item):is([data-id="Willemstad-Core"]) {

        background-color: var(--col-h1-bg);

        .setting-item-name {
            color: var(--col-h1);
        }

    }

    :is(.setting-item):is([data-id="Willemstad-Editor"]) {

        background-color: var(--col-h2-bg);

        .setting-item-name {
            color: var(--col-h2);
        }
        
    }

    :is(.setting-item):is([data-id="Willemstad-Ancillary"]) {

        background-color: var(--col-h3-bg);

        .setting-item-name {
            color: var(--col-h3);
        }
        
    }

    :is(.setting-item):is([data-id="Willemstad-Plugins"]) {

        background-color: var(--col-h4-bg);

        .setting-item-name {
            color: var(--col-h4);
        }
        
    }

    :is(.setting-item):is([data-id="Minimal-Cards"]) {

        background-color: var(--col-h5-bg);

        .setting-item-name {
            color: var(--col-h5);
        }

        .setting-item-name::after {
            content: "bundled with Willemstad";
            white-space: pre;
            font-weight: 300;
            font-size: 0.8em;
            border: 1px solid var(--col-h5);
            border-radius: calc(var(--shape-roundish) * 1);
            margin-left: 0.5rem;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            color: var(--col-h5);
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.01rem;
        }
        
    }
    
    :is(.setting-item):is([data-id="Willemstad-Adv-Settings"]) {

        background-color: var(--col-h6-bg);

        .setting-item-name {
            color: var(--col-h6);
        }
        
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> THEME DOCS STYLING
    \\\ UNDERLINE + BOLD + ADD LINES + ADD MARGIN
    ──────────────────────────────────────────────────────────────────────────── */ 
    div .setting-item.mod-toggle[data-id="info-re-theme-documentation"] {
        border-top: 0.1rem solid var(--text-accent);
        border-left: 0.1rem solid var(--text-accent);
        border-right: 0.1rem solid var(--text-accent);
        border-top-left-radius: calc(var(--shape-roundish) * 2);
        border-top-right-radius: calc(var(--shape-roundish) * 2);
        margin-top: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        /* lines and margin */

        .setting-item-name {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-size: 1.1rem;
        } /* centering + bold + uppercase + spacing */

        .setting-item-description {
            text-decoration: underline;
            text-underline-position: under;
            font-size: 1.1rem;
            font-weight: 600;
        } /* description styling */
    } 

    div .setting-item.mod-toggle[data-id="warning-cm6-only"] {
        border-bottom-left-radius: calc(var(--shape-roundish) * 2);
        border-bottom-right-radius: calc(var(--shape-roundish) * 2);
    } /* radius for bottom */

        /* ─────────────────────────────────────────────────────────────────────────
        >>>> UNITARY - align center + change bg colour
        ───────────────────────────────────────────────────────────────────────── */    

        :is(.setting-item.mod-toggle):is([data-id="info-re-theme-documentation"],
        [data-id="download-settings-search"],
        [data-id="warning-cm6-only"]) :is(.setting-item-name, .setting-item-description) {
            text-align: center;
        } /* aligns them to the centre */

        :is(.setting-item.mod-toggle):is([data-id="info-re-theme-documentation"],
        [data-id="download-settings-search"],
        [data-id="warning-cm6-only"]) {
            background-color: var(--background-secondary-alt);
        } /* change background */

        /* ─────────────────────────────────────────────────────────────────────────
        >>>> DOWNLOAD SETTINGS SEARCH (and other sub paras) BIT + ADD DELINEATION LINE?
        ───────────────────────────────────────────────────────────────────────── */

        div :is(.setting-item.mod-toggle):is([data-id="download-settings-search"], [data-id="warning-cm6-only"]) {
            border-left: 0.1rem solid var(--text-accent);
            border-right: 0.1rem solid var(--text-accent);
            padding-left: 1rem;
        } /* lines and margin */

        div :is(.setting-item.mod-toggle[data-id="warning-cm6-only"]) /* always use the last item to do this */ {
            border-bottom: 0.1rem solid var(--text-accent);
            margin-bottom: 1.5rem;
            padding-left: 1rem;
        } /* bottom line of the box things */ /* pads left only because the missing checkbox already creates padding */

    /* ────────────────────────────────────────────────────────────────────────────
    >>> CHECKBOX + SETTING ITEM + EXTRANEOUS RESET THINGUM LE POOF! (DISAPPEARS CHECKBOXES)
    ──────────────────────────────────────────────────────────────────────────── */    
    :is(.setting-item.mod-toggle):is([data-id="support-willemstad-github"],
    [data-id="support-willemstad-issue"],
    [data-id="support-willemstad-obsidian"],
    [data-id="placeholder-1"],
    [data-id="placeholder-co-1"],
    [data-id="support-kepano"],
    [data-id="info-re-theme-documentation"],
    [data-id="download-settings-search"],
    [data-id="warning-cm6-only"]) :is(.setting-item-control, .checkbox-container, .setting-editor-extra-setting-button) {

        display: none;

    } /* removes workspace extraneous reset button */


    /* ────────────────────────────────────────────────────────────────────────────
    >>> CENTER MINIMAL SUPPORT DEVELOPMENT STUFF
    ──────────────────────────────────────────────────────────────────────────── */
    .setting-item.mod-toggle:is(/*[data-id="support-willemstad-github"],
    [data-id="support-willemstad-issue"],
    [data-id="support-willemstad-obsidian"], */
    [data-id="support-kepano"]) :is(.setting-item-name, .setting-item-description) {
        text-align: center;
        background-color: var(--background-secondary-alt);
    } /* removed all but kepano's text centering since... no need */

    /* ────────────────────────────────────────────────────────────────────────────
    >>> BORDERS FOR MINIMAL SUPPORT DEVELOPMENT STUFF
    ──────────────────────────────────────────────────────────────────────────── */
    div .setting-item.mod-toggle[data-id="support-kepano"] {
        border: 1px solid var(--text-accent);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: var(--background-secondary-alt);
        border-radius: calc(var(--shape-roundish) * 1);
    }

    .setting-item.mod-toggle:is([data-id=support-kepano]) :is(.setting-item-info) {
        margin-left: 1rem;
        margin-right: 1rem
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> bold certain elements
    ──────────────────────────────────────────────────────────────────────────── */

    .setting-item:is([data-id="col-palette"], [data-id="font-pairings"]) {

        padding-top: 1rem;
        padding-bottom: 1rem;

        :is(.setting-item-name) {
            font-weight: 600;
            color: var(--text-accent);
        }
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> for theme doc UNDER CONSTRUCTION bit
    ──────────────────────────────────────────────────────────────────────────── */
    .setting-item:is([data-id="info-re-theme-documentation"]) :is(.setting-item-name) {
    
        &::before {

            content: "Under Construction\a";
            white-space: pre;
            color: var(--background-primary);
            font-size: 0.8rem;
            font-weight: 500;

            background-color: var(--accent-lighter);
            border-radius: calc(var(--shape-roundish) * 1);

            position: relative;
            top: -0.05rem;
            margin-left: 0.3rem;
            padding: 0 0.25rem;
        }
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> Styling for Willemstad ::before
    ──────────────────────────────────────────────────────────────────────────── */

    :is(.setting-item):is([data-id="Willemstad-Core"], [data-id="Willemstad-Editor"], [data-id="Willemstad-Ancillary"], [data-id="Willemstad-Plugins"]/*, [data-id="Willemstad-Adv-Settings"]*/) .setting-item-name {
        
        &::before {
            content: "🏘️ Willemstad";
            border-radius: calc(var(--shape-roundish) * 1.5);
            padding-left: 0.35rem;
            padding-right: 0.35rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            border: 2px solid var(--interactive-border-color);
            background-color: var(--interactive-accent);
            color: var(--text-on-accent);
        }

    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> Double Borders
    ──────────────────────────────────────────────────────────────────────────── */

    .setting-item-heading[data-id="startup"] {
        border-top: 3px double var(--background-modifier-border);
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> Styling for Highlights
    ──────────────────────────────────────────────────────────────────────────── */

    body.theme-light.css-settings-manager,
    body.theme-dark.css-settings-manager {
        --col-highlight-text-pickr: var(--col-highlight-text);
    } /* to define colours for the text bit */

    .pickr .pcr-button {

        :is(.setting-item[data-id="col-highlight-0"],
            .setting-item[data-id="col-highlight-1"],
            .setting-item[data-id="col-highlight-2"],
            .setting-item[data-id="col-highlight-3"]) & {

                /* width: calc(0.15 * var(--modal-width-settings)); */
                width: 12em;
                color: var(--col-highlight-text);

                &, &::before, &::after {

                    border-radius: calc(var(--shape-roundish) * 3);

                }
                
        }

        /* color var stuff */

        :is(.setting-item[data-id="col-highlight-0"],
            .setting-item[data-id="col-highlight-1"],
            .setting-item[data-id="col-highlight-2"],
            .setting-item[data-id="col-highlight-3"]) .theme-light & {

            body.theme-light.css-settings-manager & {
                color: var(--col-highlight-text-pickr);
            }

            body.theme-dark.css-settings-manager & {
                color: transparent;
                height: 0.25em;
            }
        }

        :is(.setting-item[data-id="col-highlight-0"],
            .setting-item[data-id="col-highlight-1"],
            .setting-item[data-id="col-highlight-2"],
            .setting-item[data-id="col-highlight-3"]) .theme-dark & {

            body.theme-light.css-settings-manager & {
                color: transparent;
                height: 0.25em;
            }

            body.theme-dark.css-settings-manager & {
                color: var(--col-highlight-text-pickr);
            }
        } 

        &::after {

            font-family: var(--font-ui);

            .setting-item[data-id="col-highlight-0"] & {

                content: "==highlight==";

            }

            .setting-item[data-id="col-highlight-1"] & {

                content: "*==highlight==*";

            }

            .setting-item[data-id="col-highlight-2"] & {

                content: "**==highlight==**";

            }

            .setting-item[data-id="col-highlight-3"] & {

                content: "***==highlight==***";

            }
        }
    }