/* ────────────────────────────────────────────────────────────────────────────────
> WY100A
\ Plugins > Community > Style Settings
\ General Items
    \\ PComm000 | Style Settings
───────────────────────────────────────────────────────────────────────────────────
    >>> (OPTION) SHOW BLOCK DESCRIPTION
    ──────────────────────────────────────────────────────────────────────────── */
    .PComm000-blockdesc-appear .style-settings-heading:not(.is-collapsed) .setting-item-description {
        display: block;
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> FIX PADDINGS
    ──────────────────────────────────────────────────────────────────────────── */

    div.style-settings-heading[data-level="0"] {
        margin-bottom: 0rem;
    }
    div .style-settings-container {
        padding-bottom: 0;
    }
    div .style-settings-heading {
        margin-bottom: 0; 
    }
    div .themed-color-wrapper > div {
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        padding-right: 0.25rem;
        padding-left: 0.375rem;
    }

    div .style-settings-container > .setting-item:first-child {
        padding-top: 0.35rem;
    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> MAKING STYLE SETTINGS PWETTY
    \\\ thanks to Cecilia May for the idea
    ──────────────────────────────────────────────────────────────────────────── */
    div.style-settings-heading[data-level="0"] + .style-settings-container {
        border-left: 1px solid var(--background-modifier-border);
        padding-left: var(--padding-left-ss);
    }
    
    .vertical-tab-content > .setting-item.setting-item-heading.style-settings-heading {
        border-bottom: 1px solid var(--background-modifier-border);
    }

    div.style-settings-heading[data-level="1"] + .style-settings-container,
    div.style-settings-heading[data-level="2"] + .style-settings-container,
    div.style-settings-heading[data-level="3"] + .style-settings-container,
    div.style-settings-heading[data-level="4"] + .style-settings-container,
    div.style-settings-heading[data-level="5"] + .style-settings-container,
    div.style-settings-heading[data-level="6"] + .style-settings-container {
        padding-top: 0;
        margin-left: 0;
        border-left: 1px solid var(--background-modifier-border);
        padding-left: var(--padding-left-ss);
    }


    span.style-settings-collapse-indicator {
        margin-right: var(--margin-ss-collapse-indicator);
        margin-left: var(--margin-ss-collapse-indicator);
    }

    /*
    div.style-settings-name > .style-settings-collapse-indicator {
        margin-left: -21px;
    }
    */

    .theme-light, .theme-dark {

        --padding-left-ss: 1.5rem;
        --margin-ss-collapse-indicator: 0.25rem;

    }

    /* ────────────────────────────────────────────────────────────────────────────
    >>> Hides Header/Heading Level 1
    ──────────────────────────────────────────────────────────────────────────── */

    div.style-settings-heading[data-id*="Willemstad"] + * > .style-settings-container[data-level="1"] {

        border-left: none;
        padding-left: 0;

    } /* should remove the lines and paddings*/

        div.style-settings-heading[data-id="Willemstad-Plugins"] + * > * > .style-settings-container[data-level="3"] {

            border-left: none;
            padding-left: 0;

            & > .setting-item:first-child {
                padding-top: 0;
            }

        } /* removes paddings on lvl 3 for Plugins */

        div.style-settings-heading[data-id="Willemstad-Plugins"] + * > * > .style-settings-heading[data-level="3"] {

            border-bottom: none;

            & > * > .setting-item-name {

                color: var(--text-accent);

                > .style-settings-collapse-indicator {

                    margin-left: -1rem;
                    margin-right: 0.25rem; /* should do this for everything, but this can be done later - 0.125; 0.25 for the icons only*/

                    /* display: none; */

                } /* remove collapse indicator */
            }
        } /* removes paddings on lvl 3 for Plugins + bottom header + adds colours */

    div.style-settings-heading[data-id*="Willemstad"] + * > .style-settings-heading[data-level="1"] {
        
        display: none; 

    } /* make level 1 disappear so that I can manoeuver it to allow for unheaded stuff later in the list */


    .style-settings-heading[data-id="Willemstad-Plugins"] + .style-settings-container[data-level="0"] > * > * > * > .style-settings-collapse-indicator {

        margin-left: -1rem;
        margin-right: 0.25rem;

        /*
        & > svg {
            margin-right: 0.125rem;
        }
        */

    }