/* ────────────────────────────────────────────────────────────────────────────────
> DE15
\ UI > Main Screen Elements
\ Ribbon Icons
──────────────────────────────────────────────────────────────────────────────── */  

.workspace-ribbon.side-dock-ribbon.mod-left {

    display: flex;

    & .side-dock-ribbon-action {

        display: flex;
        justify-content: center;

    }
}