/* ────────────────────────────────────────────────────────────────────────────────
> DH00
\ UI > Interactive Elements > Interactives!
───────────────────────────────────────────────────────────────────────────────────
\ Search, Checkboxes, Buttons, Dropdowns, Input Boxes, Select, Text Area, Menu
───────────────────────────────────────────────────────────────────────────────── */

    /* font declaration */

    .dropdown, .prompt, select, input, textarea, button {
        font-family: var(--font-ui);
    }

    button {
        font-weight: 500;
    }

/* ────────────────────────────────────────────────────────────────────────────        
>> SEARCH | CODE: NYHAVN
───────────────────────────────────────────────────────────────────────────────
>>> DOCUMENT
──────────────────────────────────────────────────────────────────────── */
.document-search-container {
    height: 2.35rem;
    padding: 0.25rem;
}    

/* doc search button below */

input.document-search-input,
input.document-replace-input {
    margin: 0 0.5rem;
}

.search-input-container {
    margin: 0 0.25rem;
}

/* ────────────────────────────────────────────────────────────────────────
>>> COMMUNITY PLUGIN MODAL SEARCH BUTTONS | FIX
──────────────────────────────────────────────────────────────────────── */
    .community-plugin-search button.clickable-icon {
        /*
        position: absolute;

        left: 0rem;
        top: 0rem;
        */
        margin: 0;

        padding: 0.25rem 0.675rem;

    }

    .community-plugin-search button.clickable-icon.clickable-icon.clickable-icon.clickable-icon {
        background-color: var(--interactive-bg);
    }

    .community-plugin-search button {
        .setting-item-control {
            width: 100%;
            flex: 0 0;
        }
        
        transform: scale(90%);
        
    }

    div.community-plugin-search {
        /* padding-top: 0rem; */
        padding-right: 0.25rem;
    }

    .community-plugin-search .setting-item {
        padding-bottom: 0rem;

        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .community-plugin-search .community-plugin-search-summary {
        padding: 0rem 0.5rem 0.25rem 1rem;

    }

    .community-plugin-search .search-input-container {
        margin: 0;
        order: 2;
        flex: 1 0;

        /*
        position: absolute;
        left: 3.25rem;
        top: 0.25rem;
        */
        width: clamp(calc(800px * 0.25), calc(var(--modal-width-community-plugin) * 0.25), calc(23% + 1.25rem));

    }

    .community-plugin-search .search-input-container > input[type='text'] {
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }

    /*
    .community-plugin-search button.clickable-icon {
        position: absolute;
        left: clamp(calc(800px * 0.255), calc(var(--modal-width-community-plugin) * 0.255), calc(0.255 * 98%));
        top: 0.25rem;
        margin-left: calc(var(--modal-width-community-plugin) * 0.0025);
        margin-right: calc(var(--modal-width-community-plugin) * 0.0025);

    }
    */
    /*
    .community-plugin-search button.clickable-icon {
        position: absolute;
        right: clamp(calc(800px * 0.675), calc(var(--modal-width-community-plugin) * 0.675), calc(0.7 * 98%));
        top: 0.25rem;

    }  
    */     

    /*
    .community-plugin-search-summary {
        padding: 1.75rem 1.25rem 0.25rem 1rem;
    }
    */

/* ────────────────────────────────────────────────────────────────────────────
>> CHECKBOXES
───────────────────────────────────────────────────────────────────────────────
>>> Making them round! (the toggles)
──────────────────────────────────────────────────────────────────────── */

    .checkbox-container {
        height: 1.25rem;
        width: 1.25rem;
        border: 0.125rem solid var(--interactive-border-color);
        border-radius: 50rem;
        transition: var(--quick-transition);

        &:not(.is-enabled) {
            transition: var(--quick-transition);

            &:hover {
                background-color: var(--background-primary-alt);
                transition: var(--quick-transition);
            }
        }
        
        &.is-enabled {
            transition: var(--quick-transition);

            &:hover {
                background-color: var(--interactive-accent-hover);
                transition: var(--quick-transition);
            }
        }

    }

    .checkbox-container:after {
        display: none;
    }

    /* ────────────────────────────────────────────────────────────────────────
    >>> (FIX) why did it disappear?
    ──────────────────────────────────────────────────────────────────────── */  
        ul > li.task-list-item .task-list-item-checkbox {
            margin-left: 0px;
        }

        .markdown-source-view.mod-cm6 .task-list-item-checkbox {
            top: -2px;
        } /* aligns properly with text */

    /* ────────────────────────────────────────────────────────────────────────
    >>>  BOX SHADOWS BE GONE
    \\\ & Community theme (Light/Dark themes only button)
    ──────────────────────────────────────────────────────────────────────── */
    .checkbox-container {
        box-shadow: none;
    }

    /* ────────────────────────────────────────────────────────────────────────
    >>> KANBAN STUFF? OR JUST IN GENERAL
    ──────────────────────────────────────────────────────────────────────── */  
    /* thanks Chris! */

    input.task-list-item-checkbox[type=checkbox] {
        border-radius: 50rem;
        border: 0.125rem solid var(--interactive-border-color);
        position: relative;
        -webkit-appearance: none;
        cursor: pointer;
    }
    input.task-list-item-checkbox[type=checkbox]:checked { 
        background-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
        background-position: center;
        background-size: 60%;
        background-color: var(--interactive-bg);
        background-repeat: no-repeat;
        padding: 0;
        opacity: 100%;
    }
    /* this is causing phantom buttons to appear - test 
    NEED FOR KANBAN THO
    soln - add the .task-list-item-checkbox class */

/* ────────────────────────────────────────────────────────────────────────────
>> BUTTONS
───────────────────────────────────────────────────────────────────────────────
    >>> ROUNDNESS + MARGINS + BORDER + FONT SIZE
    ──────────────────────────────────────────────────────────────────────── */
    .setting-item-control button {
        margin-right: 0.5rem;
        border-radius: calc(var(--shape-roundish) * 3);
        border: 2px solid var(--interactive-border-color);
        font-size: 0.95rem;

    }

    button {
        /* margin-right: 0.5rem; */
        margin-right: 0;
        border-radius: calc(var(--shape-roundish) * 3);
        border: 2px solid var(--interactive-border-color);
        font-size: 0.95rem;

        display: flex;

        transition: var(--quick-transition);

        &:hover {
            transition: var(--quick-transition);
        }
    }

    button ~ button {
        /* margin-left: 0.5rem; */
    } /* I absolutely detest this */

    .modal-button-container {
        display: flex;
        justify-content: center;
    }
    


    /* ────────────────────────────────────────────────────────────────────────
    >>> SVG
    ──────────────────────────────────────────────────────────────────────── */   
    /*
    button svg {
        width: 20px;
        height: 20px;
    }
    */

    /* ────────────────────────────────────────────────────────────────────────
    >>> MOAR BUTTON SHENANIGANS | STREAMLINING BUTTONS
    \\\ MIGHT NEED SOME REWORKING?
    ──────────────────────────────────────────────────────────────────────── */        
        .modal.modal button:not(.mod-cta):not(.mod-warning) {
            background-color: var(--background-secondary-alt);
            color: var(--text-normal);
        }
        
    /* ────────────────────────────────────────────────────────────────────────
    >>> COMMUNITY THEME > SELECTED THEME > CHANGE TO CONTRASTING COLOUR
    \\\ MIGHT NEED SOME REWORKING?
    ──────────────────────────────────────────────────────────────────────── */           
        div.community-theme.community-theme.community-theme.is-selected button {
            background-color: var(--background-primary);
            font-weight: 600;
            color: var(--text-accent);
        }

        div.community-theme.community-theme.community-theme.is-selected button:first-child {
            display: none;
        } /* makes the "Selected" button disappear when on the theme */

    /* ────────────────────────────────────────────────────────────────────────
    >>> FIX | COMMUNITY THEME > THEME FILTER > BUTTON + COMMUNITY PLUGIN > PLUGIN FILTER > BUTTON
    ──────────────────────────────────────────────────────────────────────── */ 
        body .community-theme-filters-container.community-theme-filters-container > * > * > button.clickable-icon.clickable-icon,
        body .community-plugin-search button.clickable-icon.clickable-icon.clickable-icon.clickable-icon {
            background-color: var(--interactive-accent);                
            color: var(--text-on-accent);
        }

        body .community-theme-filters-container.community-theme-filters-container > * > * > button.clickable-icon.clickable-icon:hover,
        body .community-plugin-search button.clickable-icon.clickable-icon.clickable-icon.clickable-icon:hover {
            background-color: var(--interactive-accent-hover);
            color: var(--text-on-accent);
        }

        button.clickable-icon {
            display: flex;
        }
            

    /* ────────────────────────────────────────────────────────────────────────
    >>> BUTTON > DOCUMENT SEARCH
    ──────────────────────────────────────────────────────────────────────── */
        .document-search-button {
            margin: 0.1rem;
            padding: 0 0.3rem;
            background-color: var(--interactive-accent);
            color: var(--text-on-accent);
        }

        .document-search-button:hover {
            background-color: var(--interactive-accent-hover);
            color: var(--text-on-accent);
        }

    /* ────────────────────────────────────────────────────────────────────────
    >>> BUTTON > WARNING
    ──────────────────────────────────────────────────────────────────────── */
        button.mod-warning {
            border: 2px solid var(--background-modifier-error);
        }

/* ────────────────────────────────────────────────────────────────────────────
>> DROPDOWNS
───────────────────────────────────────────────────────────────────────────────
    >>> Δ FONT SIZE
    ──────────────────────────────────────────────────────────────────────── */
    body .dropdown {
        font-size: var(--size-font-dropdown);
    }

    .theme-light, .theme-dark {
        --size-font-dropdown: var(--size-font-searchbox);
    }
    /* ────────────────────────────────────────────────────────────────────────
    >>> BORDER RADIUS
    ──────────────────────────────────────────────────────────────────────── */
    .theme-light:not(.is-mobile) div.setting-item-control > select.dropdown,
    .theme-light:not(.is-mobile) .modal div.setting-item-control > select.dropdown,
    .theme-dark:not(.is-mobile) div.setting-item-control > select.dropdown,
    .theme-dark:not(.is-mobile) .modal div.setting-item-control > select.dropdown {
        border-radius: calc(var(--shape-roundish) * 3);
    }

    select.dropdown {
        box-shadow: none;
    }

/* ────────────────────────────────────────────────────────────────────────────
>> INPUT BOXES
───────────────────────────────────────────────────────────────────────────────
    >>> Δ FONT SIZE
    ──────────────────────────────────────────────────────────────────────── */
        input[type='text'], input[type='search'], input[type='email'],
        input[type='password'], input[type='number'] {
            font-size: var(--size-font-input);
        }

        .theme-light, .theme-dark {
            --size-font-input: var(--size-font-searchbox);
        }
    /* ────────────────────────────────────────────────────────────────────────
    >>> BORDER RADIUS
    ──────────────────────────────────────────────────────────────────────── */
        input[type='text'], input[type='search'], input[type='email'],
        input[type='password'], input[type='number'] {
            border-radius: calc(var(--shape-roundish) * 3);
        }

    /* ────────────────────────────────────────────────────────────────────────────
    >> DOCUMENT INPUT BOX (What is it really called?)
    ───────────────────────────────────────────────────────────────────────────────
    >> Adding a pop of colour to whatever it's being hovered over
    ──────────────────────────────────────────────────────────────────────── */
    .suggestion-item.is-selected .suggestion-prefix,
    .suggestion-item.is-selected,
    .suggestion-item.is-selected .suggestion-flair,
    .suggestion-item.is-selected .suggestion-highlight {
        color: var(--text-accent);
    }
    /* ────────────────────────────────────────────────────────────────────────
    >>> [ROUNDED MODAL]
    ──────────────────────────────────────────────────────────────────────── */
        .prompt {
            border-radius: calc(var(--shape-roundish) * 3);
            width: 60vw;

            & .suggestion-item {

                padding: 0.25rem 0.25rem 0.25rem 1rem;

                &.is-selected {
                    border-radius: calc(var(--shape-roundish) * 1.5);
                }

            }

            row-gap: 0.5rem;

            & .prompt-instructions {
                padding: 2px;
            }

            & .prompt-results {
                padding: 0;
            }
        }

        input.prompt-input {
            padding: 0.5rem 1rem 0.5rem 1rem;
        }


/* ────────────────────────────────────────────────────────────────────────────
>> SELECT
───────────────────────────────────────────────────────────────────────────────
    >>> Margins and Paddings
    ──────────────────────────────────────────────────────────────────────── */
        select {
            border-radius: calc(var(--shape-roundish) * 3);
            margin-right: 0.5rem;
            border: 1px solid var(--background-modifier-border);
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-size: var(--size-font-select);
        }

        select > option {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            
        }

        .theme-light, .theme-dark {
            --size-font-select: var(--size-font-searchbox);
        }


/* ────────────────────────────────────────────────────────────────────────────
>> TEXTAREA
───────────────────────────────────────────────────────────────────────────────
    >>> Margins and Paddings
    ──────────────────────────────────────────────────────────────────────── */
    textarea {
        border-radius: calc(var(--shape-roundish) * 1.5);
        padding: 0.25rem;
    }

/* ────────────────────────────────────────────────────────────────────────────
>> MENU
───────────────────────────────────────────────────────────────────────────────
    >>> Margins and Paddings
    ──────────────────────────────────────────────────────────────────────── */
    .menu {
        box-shadow: none;
        border-radius: calc(var(--shape-roundish) * 1.5);
    }

    .menu {
        padding: 0.25rem 0.25rem;
    }
    
    .menu-item {
        padding: 0 0.25rem;
        display: flex;
        align-items: center;
    
        line-height: 200%;
    
        column-gap: 0.5rem;

        border-radius: calc(var(--shape-roundish) * 1.5);

        &:not(.is-disabled).selected .menu-item-icon {

            color: var(--interactive-accent-hover);

        } /* adds hovered icon colours */
    }
    
    .menu-item-icon {
        display: flex;
        justify-content: center;
        width: auto;
        top: 0px;
    
        /*
        & > svg {
            width: 20px;
            height: 20px;
        }
        */
    }

/* ────────────────────────────────────────────────────────────────────────────
>> SUGGESTION CONTAINER
\\ needs fixing later on
───────────────────────────────────────────────────────────────────────────────
    >>> Margins and Paddings
    ──────────────────────────────────────────────────────────────────────── */
    .suggestion-container {
        box-shadow: none;
        
       /* .suggestion-item, .suggestion-empty {
            padding: 0;
        }
        */
      
        & .search-suggest-item {

        }
        
    }
    
/* Shadow Eradicator */
    .tooltip, .menu, .popover, .drag-ghost, .follow-link-popover, .pdf-controls, .notice, .pull-down-action {
        box-shadow: none;
    }

/* ────────────────────────────────────────────────────────────────────────────
>>> DRAG GHOST
\\\ when you drag something
\\\ thing to think about: can't take on specific non-global icons
──────────────────────────────────────────────────────────────────────────── */
.drag-ghost.drag-ghost {
    gap: 0.25rem;
    padding: 0.25rem;
    line-height: 1.25rem;
}

.drag-ghost-icon {

    width: auto;

    svg {
        width: auto;
        height: 100%;

        max-width: 20px;
        max-height: 20px;
    }
}

/* ────────────────────────────────────────────────────────────────────────────
>>> NOTICE
──────────────────────────────────────────────────────────────────────────── */

body:not(.is-mobile) {
    .notice-container {
        top: 1vh;
        padding: 0 0.5rem 0 0;
    }

    .notice {
        background-color: rgba(0, 0, 0, 0.82);
        padding: 0.5rem 0.5rem;
        margin-bottom: 5px;
        line-height: 100%;
    }
}

body.is-mobile {
    .notice-container {
        padding: 0 0.5rem;
    }

    .notice {
        padding: 0.5rem 0.5rem;
        margin-bottom: 5px;
        line-height: 100%;        
    }
}

/* ────────────────────────────────────────────────────────────────────────────
>>> HOVER POPOVER
──────────────────────────────────────────────────────────────────────────── */

.theme-light, .theme-dark {
    --height-hover-popover: 400px;
    --padding-hover-popover: 0.5rem;
}

.popover.hover-popover {
    border: 1px solid var(--background-modifier-border);

    padding: var(--padding-hover-popover);
    max-height: var(--height-hover-popover);

    & .markdown-embed {
        height: calc(var(--height-hover-popover) - 2 * var(--padding-hover-popover));
    }
    
}

.popover {
    border-radius: calc(var(--shape-roundish) * 1.25);
    
}






/* ───────────────────────────────────────────────────────────────────────── */



/* search, again */
.document-search-buttons, .document-replace-buttons {
    display: inherit;
}

.document-search, .document-replace {
    height: auto;
    margin: auto;
    align-items: center;
}

button.document-search-button {
    display: inline-block;
}

/* fix backlinks panes buttons */

.embedded-backlinks {
    .nav-action-button.nav-action-button {
        padding: var(--padding-actionbtn-nav);
    }
}
