/* ────────────────────────────────────────────────────────────────────────────────
> XP
\ Print Stylesheet

\\ partially based on Hartija by Vladimir Carrer
\\ https://github.com/vladocar/Hartija---CSS-Print-Framework
\\ MIT License - associated rights of Vladimir Carrer preserved

\\ MIT License
──────────────────────────────────────────────────────────────────────────────── */

@media print {

    body {
        /* width: 100% !important;
        margin: 0 !important;
        padding: 0 !important; */
        /* let Obs deal with it */

        background: none;

    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    :is(h1, h2, h3, h4, h5, h6,
    .el-h1, .el-h2, .el-h3, .el-h4, .el-h5, .el-h6) {
        /*
        display: unset !important;
        -webkit-print-color-adjust: exact !important;
        */
    }

    .image-embed, img, .callout, .callout-content,
    blockquote, table, pre {
        page-break-inside: avoid;
    }

    p {
        orphans: 3;
        widows: 3;
    }


    *::-webkit-scrollbar {
        width: 0 !important
    } /* bye bye scrollbars */

    /* callouts stuff */

    /* kanban */

    /* issues to resolve:

    kanban callout
    how to deal with the headers background-color going poof

    */




}