/* ────────────────────────────────────────────────────────────────────────────────
> XP
\ Print Stylesheet

\\ partially based on Hartija by Vladimir Carrer
\\ https://github.com/vladocar/Hartija---CSS-Print-Framework
\\ MIT License - associated rights of Vladimir Carrer preserved

\\ MIT License
──────────────────────────────────────────────────────────────────────────────── */

@media print {

    body {
        /* width: 100% !important;
        margin: 0 !important;
        padding: 0 !important; */
        /* let Obs deal with it */

        background: none;

    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    .image-embed, img, .callout, .callout-content, .callout-title,
    blockquote, table, pre {
        page-break-inside: avoid;
    }

    p {
        orphans: 3;
        widows: 3;
    }


    *::-webkit-scrollbar {
        width: 0 !important
    } /* bye bye scrollbars */

    /* callouts stuff */

    /* kanban */

    /* issues to resolve:

    kanban callout
    column callouts

    */

    :is(h1, h2, h3, h4, h5, h6) {

    }
        
    .markdown-rendered {
        h1 {
            background-color: var(--col-h1-bg);
        }
        h2 {
            background-color: var(--col-h2-bg);
        }
        h3 {
            background-color: var(--col-h3-bg);
        }
        h4 {
            background-color: var(--col-h4-bg);
        }
        h5 {
            background-color: var(--col-h5-bg);
        }
        h6 {
            background-color: var(--col-h6-bg);
        }
    }

    .markdown-preview-view :is(h1, h2, h3, h4, h5, h6) {
        padding: var(--padding-header-t) 0.5rem var(--padding-header-b) 1.8rem;
        margin: 0.5rem 0;
    }



}