/* ────────────────────────────────────────────────────────────────────────────────
> ET12
\ Editor > Typography
\ Readable Underlines
───────────────────────────────────────────────────────────────────────────────────
    >> Normal Readable Underlines
    /// thanks to Cecilia May for suggestions re: "u" and streamlining code!
    ───────────────────────────────────────────────────────────────────────────────
        >>> (OPTIONS) Δ NORMAL TEXT | thanks @ceciliamay for assistance
        ───────────────────────────────────────────────────────────────────────────
            >>>> (1) NORMAL
            ──────────────────────────────────────────────────────────────────── */
            .ssopt-typ-undl-nor-min u {
                text-decoration: underline;
                text-underline-position: auto;
                text-underline-offset: 0;
            }

            /* ────────────────────────────────────────────────────────────────────
            >>>> (2) ADDITIONAL, stijl Classic SF
            ──────────────────────────────────────────────────────────────────── */
            .ssopt-typ-undl-nor-add u {
                text-decoration: underline;
                text-underline-position: auto;
                text-underline-offset: 1px;
            }

            /* ────────────────────────────────────────────────────────────────────
            >>>> (3) MAXIMUM, stijl Willemstad
            ──────────────────────────────────────────────────────────────────── */
            /*.ssopt-typ-undl-nor-max*/ u {
                text-decoration: underline;
                text-underline-position: under;
                text-underline-offset: 1px;
            }

    /*  ───────────────────────────────────────────────────────────────────────
    >>> (OPTIONS) Δ HYPERLINKS | thanks @pseudometa
    /// in case I forget | note: Breadcrumbs links ALREADY covered by hyperlinks fiddling
    ──────────────────────────────────────────────────────────────────────── */

    :is(.cm-url.cm-url:not(.cm-formatting),
    .cm-hmd-internal-link.cm-hmd-internal-link.cm-hmd-internal-link,
    .modal-content a:not(.tag),
    a:not(.tag),
    .footnote-link,
    .internal-link.internal-link.internal-link,
    .external-link,
    .cm-link.cm-link) {
        
        /* ────────────────────────────────────────────────────────────────────    
        >>>> (1) NORMAL
        ──────────────────────────────────────────────────────────────────── */
            .ssopt-typ-undl-hyp-min & {
                text-decoration: underline;
                text-underline-position: auto;
                text-underline-offset: 0;
            }

        /* ────────────────────────────────────────────────────────────────────
        >>>> (2) ADDITIONAL, stijl Classic SF
        ──────────────────────────────────────────────────────────────────── */
            .ssopt-typ-undl-hyp-add & {
                text-decoration: underline;
                text-underline-position: auto;
                text-underline-offset: 1px;
            }
        /* ────────────────────────────────────────────────────────────────────
        >>>> (3) MAXIMUM, stijl Willemstad
        ──────────────────────────────────────────────────────────────────── */
            /*.ssopt-typ-undl-hyp-max*/ & {
                text-decoration: underline;
                text-underline-position: under;
                text-underline-offset: 1px;
            }
     }