/* ────────────────────────────────────────────────────────────────────────────────
> WY001
\ Plugins > Community
\ Calendars
    \\ PComm001 | Calendar
    \\ PComm009 | Full Calendar
──────────────────────────────────────────────────────────────────────────────── */

/* ────────────────────────────────────────────────────────────────────────────────
>> [COMMUNITY PLUGIN | Calendar]
\\ (NOMEN | PComm001)
───────────────────────────────────────────────────────────────────────────────────
    >>> (OPTION) Δ Colour for today's date
    ──────────────────────────────────────────────────────────────────────────── */
    .workspace-leaf-content[data-type="calendar"] .day.today {
        color: var(--PComm001-col-today);
    }
    /* ────────────────────────────────────────────────────────────────────────────
    >>> (OPTION) Δ Colour for calendar year
    ──────────────────────────────────────────────────────────────────────────── */
    body .workspace-leaf-content[data-type="calendar"] .year {
        color: var(--PComm001-col-year);
    }
    /* ────────────────────────────────────────────────────────────────────────────
    >>> Add Colour for dots for writing stuff/completing checkboxes
    ──────────────────────────────────────────────────────────────────────────── */
    body .workspace-leaf-content[data-type="calendar"] svg.dot.filled {
        fill: var(--PComm001-col-dot);
    }
    /* ────────────────────────────────────────────────────────────────────────────
    >>> Make Year less bold
    ──────────────────────────────────────────────────────────────────────────── */
    body .workspace-leaf-content[data-type="calendar"] .year {
        font-weight: 600;
    }
    /* ────────────────────────────────────────────────────────────────────────────
    >>> Make Month more bold
    ──────────────────────────────────────────────────────────────────────────── */
    body .workspace-leaf-content[data-type="calendar"] .month {
        font-weight: 600;
    }
    /* ────────────────────────────────────────────────────────────────────────────
    >>> Make the year/month slightly smaller
    ──────────────────────────────────────────────────────────────────────────── */
    body .workspace-leaf-content[data-type="calendar"] :is(.year, .month) {
        font-size: 1em;
    }
    /* ────────────────────────────────────────────────────────────────────────────
    >>> Fix Top Paddings
    ──────────────────────────────────────────────────────────────────────────── */
    body .workspace-leaf-content[data-type="calendar"] .nav {
        padding: 0.5rem 0.25rem 0 0.25rem;
    }


/* ────────────────────────────────────────────────────────────────────────────────
>> [COMMUNITY PLUGIN | Full Calendar]
\\ (NOMEN | PComm009)
───────────────────────────────────────────────────────────────────────────────────
    >>> make paddings
    ──────────────────────────────────────────────────────────────────────────── */
    .workspace-leaf-content[data-type=full-calendar-view] {

        .view-content {
            padding: 1rem;
        }

        .fc-timegrid-event {
            border-radius: calc( var(--shape-roundish) * 1.5 );
            padding-left: 0.25rem;
            padding-right: 0.25rem;

            .fc-event-main {
                mix-blend-mode: luminosity;
                filter: contrast(175%);
            } /* making light text pop up */
        }

        .fc .fc-toolbar-title {
            text-align: center;
        } /* for smaller screens, ensuring centering */

        .fc-button {
            text-transform: capitalize;
        } /* Capitalise text */

        .fc-direction-ltr .fc-button-group > .fc-button:is(:first-child) {
            border-radius:  calc( var(--shape-roundish) * 1.5 ) 0 0 calc( var(--shape-roundish) * 1.5 );
        } /* round first border */

        .fc-direction-ltr .fc-button-group > .fc-button:is(:last-child) {
            border-radius: 0 calc( var(--shape-roundish) * 1.5 ) calc( var(--shape-roundish) * 1.5 ) 0;
        } /* round last border */

        button.fc-today-button.fc-button.fc-button-primary {
            border-radius: calc( var(--shape-roundish) * 1.5 );
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }

        .fc-v-event .fc-event-title {
            line-height: 120%;
        } /* make calendar items line-height better */

        .fc-timegrid-event .fc-event-time {
            margin-bottom: 0;
            line-height: 150%;

            display: flex;
            align-items: center;


        } /* makes it neater */ /* for time */

        .fc-timegrid-event-short .fc-event-time::after {
            content: "\a0\a0\a0";
        }

        
        .fc-header-toolbar {

            > div:first-child {
                margin-right: 1rem;
            }

            > div:last-child {
                margin-left: 1rem;
            }
        }  /* aye, a fix for .fc-toolbar-chunk */       

    }

    .PComm009-no-halfhour-grid .workspace-leaf-content[data-type=full-calendar-view] {
        .fc .fc-timegrid-slot-minor {
            border-top-style: none;
        } /* removes border top grid */

    }